[2019-01-31 21:07] Sammy990 opened #1 "DVBC as Input"
Is it in any way possible to define DVBC or any other digital inputs to be listed in the inputs list?

Thanks

[2019-01-31 23:37] SeydX commented on #1
Hey yes it is possible, i will add more options in a further version

I will add this in my todo list

[2019-02-01 03:35] SeydX commented on #1
Adde in v1.1. (a95df330de8708c0fc370654a51f33ae54d4fbb4)

closed.

[2019-02-01 03:35] #1 closed

[2019-02-01 16:15] Sammy990 opened #2 "ChanelInputs not working"
Hi, thanks for adding the DVBT and C as channel inputs. However, those are not displayedas inputs. Config is updated correct and I already tried reinstalling the plugin several times, but can’t get the additional channelinputs displayed in the inputs list in homekit.

Any suggestions what to try?

[2019-02-01 19:06] SeydX commented on #2
Hm, its working as intended by me, which inputs do you use? Dvbt? Dvbc?

Can u post the output from following command AND your config.json please

curl http://TVIPHERE/sony/avContent -H 'x-auth-psk: YOURPSKHERW' -d '{"id":3,"method":"getSourceList","version":"1.0","params":[{"scheme":"tv"}]}'

[2019-02-01 19:33] Sammy990 commented on #2
Just tried to remove the plugin. But not to clear the cache. I‘ve never cleared the cache before. What would be the right way? I don’t want to add all of my devices again

[2019-02-01 19:35] SeydX commented on #2
I think i know where the problem is, do you use 3rd party apps like the Eve ap?? If yes, i have put an option to refresh the inputs list, you need to refresh it to get the new inputs

Or you remove the ‚SonyInputs‘ file in your persist folder and reinstall the plugin and try again

[2019-02-01 19:41] Sammy990 commented on #2
Tried to do it with the refresh button via Eve app several times without any luck. So reinstall as last option is the next step

[2019-02-01 19:43] SeydX commented on #2
Can u send the output from plugin after refreshing pls and before reinstallung please remove the ‚SonyInputs‘ file from the persist folder

Outlook für iOS<https://aka.ms/o0ukef> beziehen

________________________________
Von: Sammy990 <notifications@github.com>
Gesendet: Freitag, Februar 1, 2019 8:41 PM
An: SeydX/homebridge-bravia-tvos
Cc: Seyd; Comment
Betreff: Re: [SeydX/homebridge-bravia-tvos]

[2019-02-01 19:46] Sammy990 commented on #2
Here you go:
[2019-2-1 20:44:17] Homebridge is running on port 51926.
[2019-2-1 20:44:24] [Fernseher] Refreshing input list, please restart homebridge after refreshing!
[2019-2-1 20:44:24] [Fernseher] Getting all available inputs, TV needs to be turned on...
[2019-2-1 20:44:29] [Fernseher] TV is on, getting inputs...
[2019-2-1 20:44:29] [Fernseher] Found new inputs, checking config for apps...
[20

[2019-02-01 19:49] SeydX commented on #2
Yes it seems that the plugin has problems to show it, normally it has to be fixed after reinstalling the plugin... hmmm

Outlook für iOS<https://aka.ms/o0ukef> beziehen

________________________________
Von: Sammy990 <notifications@github.com>
Gesendet: Freitag, Februar 1, 2019 8:46 PM
An: SeydX/homebridge-bravia-tvos
Cc: Seyd; Comment
Betreff: Re: [SeydX/homebridge-bravia-tvos] ChanelInputs not w

[2019-02-01 20:09] Sammy990 commented on #2
Ok, after removal of the SonyInputs file and reinstall of the plugin everything is broken. All devices connected via homebridge are showing as „no answe“ in the home app, although HomeBridge itself is starting up and running fine on the raspberry

[2019-02-01 20:39] Sammy990 commented on #2
Ok, I‘ve now add all my devices bridged via homebridge back again and the input is working correct now. Thanks. Maybe you can have a look to improve the refresh procedure in one of future builds. At all, I‘d say it’s an awesome plugin. Thanks for your efforts. Would love to see more functionality like in the v3 plugin...predefine specific channels as input for example

[2019-02-02 00:07] SeydX commented on #2
Im sorry, hope everything works fine now, i will check the process of adding new inputs again and new functions will come soon

[2019-02-02 03:47] SeydX commented on #2
v2 of the plugin is already in progress with several new functions and i hope it will also remove the bug you had.

New functions will be i.e. option to add multiple tvs, performance improvements, dynamic platform etc.

[2019-02-02 07:11] Sammy990 commented on #2
Awesome new mate! Keep the work ongoing

[2019-02-02 19:34] twocolors opened #3 "ipadress to host"
many people use dhcp and don't know ip, maybe "host" config is more goon as "ipadress"

[2019-02-02 22:06] SeydX commented on #3
Hello, i will add this to my todo list for v2

Outlook für iOS<https://aka.ms/o0ukef> beziehen

________________________________
Von: D <notifications@github.com>
Gesendet: Samstag, Februar 2, 2019 8:34 PM
An: SeydX/homebridge-bravia-tvos
Cc: Subscribed
Betreff: [SeydX/homebridge-bravia-tvos] ipadress to host (#3)

many people use dhcp and don't know ip, maybe "host" config is more goon as "ipadre

[2019-02-03 11:58] coreybx opened #4 "doesn't work at all with oznu\docker-homebridge"
bombs out straight away at startup

homebridge_1  | [2019-2-3 22:54:08] [TV] Initializing BraviaTVOS accessory...
homebridge_1  |
homebridge_1  | /homebridge/node_modules/homebridge-bravia-tvos/index.js:156
homebridge_1  |   this.Television=new Service.Television(self.name||'Television');
homebridge_1  |                   ^
homebridge_1  | TypeError: Service.Television is not a constructor
homebri

[2019-02-03 12:45] SeydX commented on #4
Which homebridge version?

Outlook für iOS<https://aka.ms/o0ukef> beziehen

________________________________
Von: coreybx <notifications@github.com>
Gesendet: Sonntag, Februar 3, 2019 12:58 PM
An: SeydX/homebridge-bravia-tvos
Cc: Subscribed
Betreff: [SeydX/homebridge-bravia-tvos] doesn't work at all with oznu\homebridge (#4)

bombs out straight away at startup

homebridge_1 | [2019-2-3 22:54:08] [

[2019-02-03 15:20] d0n4v4nb3ck3r opened #5 "Node Version Error"
09:07:14] ---
Feb 03 09:07:14 Bridge homebridge[8808]: [2019-2-3 09:07:14] Plugin /usr/local/lib/node_modules/homebridge-bravia-tvos requires Node version of ^8.9.1 which does not satisfy the current Node version of v9.9.0. You may need to upgrade your installation of Node.
Feb 03 09:07:14 Bridge homebridge[8808]: [2019-2-3 09:07:14] Loaded plugin: homebridge-bravia-tvos

[2019-02-03 20:47] SeydX commented on #5
Can u send me the whole log pls and not only the node warning

[2019-02-03 22:34] paqpaqpaq opened #6 "Can’t automate power"
Since the plugin only presents a Home app switch for on/off and input selector, there is no power selector in other apps.
This way the power cannot be automated; not even in Home app.

Could that be solved?

[2019-02-03 23:09] SeydX commented on #6
which iOS version u have?

[2019-02-04 08:52] paqpaqpaq commented on #6
12.2

It took 3 Homebridge crashes (thank god for back-ups) to have it show all switches.
Eventually also the power switch! (in scenes and automations)

In between two homebridge crashes the apps in the config.json showed up as houses that did nothing.
In the end it took several new bindings between homekit and homebridge to get everything working.

[2019-02-04 09:30] coreybx commented on #4
image: oznu/homebridge:1.7.9

[2019-02-04 10:14] Sammy990 commented on #6
I had the same experience and realized it seems currently it’s mandatory to be on the same network (WiFi) with your iOS device when you first time run the plugin. If you’re not, all apps inputs etc appears not to be recognized as part of the tv accessory and are reported as separate unusable switches with Anhöhe icon in the Home app.

Can’t await to see a V2 of this plugin for more automations and

[2019-02-04 10:16] paqpaqpaq commented on #6
I was always on the same Wifi during my installations.
More likely it is within syncing errors between icloud and homebridge (persist) folders.

[2019-02-05 03:34] slack8182 opened #7 "TV showing up as "Not Supported" on Home app"
I've installed the plug-in and it shows up on the Home App as a device but it says "not supported." I'm on the latest iOS beta and Ive configured all the settings on my Sony TV. Any suggestions would be great??

[2019-02-05 08:58] arnif commented on #7
You need to be on the latest developer beta (12.2 Beta 1)

[2019-02-05 11:47] GaoVang2005 opened #8 "Type error indexOF of undefined"
TypeError: Cannot read property 'indexOf' of undefined
    at API.platform (C:\Users\vietd\AppData\Roaming\npm\node_modules\homebridge\lib\api.js:108:12)
    at Server._loadPlatforms (C:\Users\vietd\AppData\Roaming\npm\node_modules\homebridge\lib\server.js:316:45)
    at Server.run (C:\Users\vietd\AppData\Roaming\npm\node_modules\homebridge\lib\server.js:86:36)
    at module.exports (C:\Users\viet

[2019-02-06 09:26] OkiRules opened #9 "ERROR:{"error":[15,"power on not supported"],"id":1}"
Is this an error from the plugin or my tv. I have remote start on.

[2019-02-08 17:21] SeydX commented on #4
this plugin needs homebridge v0.4.46 and oznu/homebridge:1.7.9 has homebridge v0.4.45 installed, so it needs an update to v0.4.46 to work

[2019-02-08 17:21] SeydX commented on #9
Which model u have? It seems that your tv doesnt support this kind of commands

[2019-02-08 17:22] SeydX commented on #8
Node version?
Homebridge version?

It seems u need to update it to latest version

[2019-02-08 17:23] #7 closed

[2019-02-08 17:23] SeydX commented on #5
Update to latest available node version

[2019-02-08 17:23] #5 closed

[2019-02-08 17:30] bxlouis opened #10 "OK button on native Apple remote does not work as expected"
Hi,

I am using the latest plugin version on Homebridge latest version. It is working just fine except for the OK button on the Apple native remote.

When on the Android TV home menu, it does not act as the OK button but rather like the EPG one on the remote.

I am using Android TV on a Sony Bravia AF9.

![img_b1ff2f9034b3-1](https://user-images.githubusercontent.com/4128333/52494951-9cc6a700-2bcf

[2019-02-08 17:32] SeydX commented on #10
Oh it seems that i have put a wrong command for OK, will fix this on v2 (currently in work)

[2019-02-08 17:34] bxlouis commented on #10
Ok thanks! Keep the good job going!
I just found out that it was triggering the Digital/Analog key, not the EPG one.

[2019-02-08 17:42] bxlouis opened #11 "Home app always displays last "favApps" as active"
The Home App always displays the last favApps in my config file as active.

Selecting another app using the "Input" list will update the active app, but as soon as I change the app using the tv remote, the Home App will display the last favApps back.

In my example, "Steam link" is my last favApps in config.json.
![img_0007](https://user-images.githubusercontent.com/4128333/52495341-ad2b5180-2bd0-

[2019-02-08 17:48] bxlouis opened #12 "[Feature Request] Hide inactive entries from "Input" list in Home app"
Would it be possible to manually (or better, automatically) hide inactive entries from the "Input" menu in the Home app?

As I am using a Home Cinema Amplifier, I'm only using one HDMI port (eARC/ARC). Therefore, I would like the HDMI 1, 2 and 4 to be hidden and only appear if an HDMI cable is plugged to them.

The TV allows to automatically hide the inactive entries from the input menu, so I'm wo

[2019-02-08 17:55] bxlouis commented on #10
@SeydX also, would it be possible to remap the "Exit" button to the tv remote's "Home" button? It seems that in the current version, the Exit button uses the same key as the "Back" button.

When browsing Netflix (preinstalled by Sony with tv remote with Netflix button), the only way to quit the app is through the "Home" button on the tv remote. On the current version, the Exit button does exactly

[2019-02-08 18:08] SeydX commented on #12
You cen deactivate the input in a 3rd party app like Elgato eve app. Every input has an ‚Active‘ Characteristic, so you can just deactivate it to hide the source

After plugging a ned devide to the tv via hdmi u need to refresh the list manually to detect the device

[2019-02-08 18:09] lto-tapptic commented on #12
Ok thanks, I’ll try that then.

[2019-02-08 18:19] SeydX commented on #11
It is not possible to detect the app states via the API, it always says ‚Illegal State‘ for apps

In v2 i added a new funktion to ‚deactivate‘ the current state (if its an app)

Maybe i will add a statefull favApps to remind the last state of the input source and show them correctly (only if selected via home app, so it will not be possible to detect it if you select manually via remote)

[2019-02-08 18:26] lto-tapptic commented on #11
Even with this method from the Bravia API? https://pro-bravia.sony.net/develop/integrate/rest-api/spec/service/appcontrol/v1_0/getApplicationStatusList/

[2019-02-08 18:44] SeydX commented on #11
Yes even with this method its not possible to get the name or uri or something else from the active app

This method, as u can see, shows only app prameter like curso, text input etc

[2019-02-09 01:47] OkiRules commented on #9
DS415+

Thanks,
Oscar
On 9 Feb 2019, 4:21 AM +1100, Seyd <notifications@github.com>, wrote:

[2019-02-09 01:55] SeydX commented on #9
thats not your tv model or?? which tv model u have?

[2019-02-09 01:57] OkiRules commented on #9
Sorry that was my ds model. The TV model is KDL-70W850B

Thanks,
Oscar
On 9 Feb 2019, 12:55 PM +1100, Seyd <notifications@github.com>, wrote:

[2019-02-09 04:46] SeydX commented on #11
Added stateful favApps in v2. Should be fixes

[2019-02-09 04:46] #11 closed

[2019-02-09 04:47] SeydX commented on #10
"OK" Button should work as expected now, will look for the "Exit" button now

[2019-02-09 04:47] #10 closed

[2019-02-09 04:50] SeydX commented on #9
Is this a android tv?

[2019-02-09 04:50] SeydX commented on #3
Should work in v2, if not feel free to reopen

[2019-02-09 04:50] #3 closed

[2019-02-09 04:51] SeydX commented on #2
Should work with v2, if not feel free to reopen

[2019-02-09 04:51] #2 closed

[2019-02-09 04:51] SeydX commented on #6
version 2.0 is out and fix several bugs like this one, give it a try

[2019-02-09 04:51] #6 closed

[2019-02-09 04:51] #12 closed

[2019-02-09 04:52] SeydX commented on #4
Closed.

[2019-02-09 04:52] #4 closed

[2019-02-09 04:53] OkiRules commented on #9
It might be how do I tell?

Thanks,
Oscar
On 9 Feb 2019, 3:50 PM +1100, Seyd <notifications@github.com>, wrote:

[2019-02-09 04:55] SeydX commented on #9
Googled for it and yes its not an android tv. This plugin only supports sony tvs with android interface, closing

[2019-02-09 04:55] #9 closed

[2019-02-09 04:56] SeydX commented on #8
Please update homebridge to 0.4.46 and try it with v2 of this plugin

[2019-02-09 04:56] #8 closed

[2019-02-09 04:57] OkiRules commented on #9
Wait a sec.. so what plugin should I install?

[2019-02-09 11:20] ramonvanbiljouw opened #13 "New update not working Node error"
After installation now I get the node version error like previously reported;

Plugin /homebridge/node_modules/homebridge-bravia-tvos requires Node version of ^8.9.1 which does not satisfy the current Node version of v10.15.1. You may need to upgrade your installation of Node.

I run homebridge Version 0.4.46.
Hopefully you can help me out. Thanks, Ramon

[2019-02-09 12:16] ramonvanbiljouw commented on #13
Reading is a form. of art.... I fixed it.

[2019-02-09 12:57] SeydX commented on #13
What was the problem?

[2019-02-09 15:55] ronvandeven opened #14 "Feature request: homekit support for older sony bravia models that have full ip control"
First of all very good plugin and I’m very happy with it. Installation and config was easy, I was using an other plugin first could not get it to work, this one was painless.

I have 2 sony bravias at home, one that has android OS w805c and one that has what i think is a sony OS w805a.
I was using roomie remote before which was later renamed to simple control. Which had full ip control on both TV’

[2019-02-09 17:30] ramonvanbiljouw commented on #13
You moved it from an accessory item to a platform item...

[2019-02-09 21:12] joemolomo opened #15 "Tick icons next to inputs"
Do the ticks next to the inputs in tv setting have a purpose? or are they disabled by apple at the minutes, I was hoping to choose a default input for certain automations/scenes.

[2019-02-10 08:37] SeydX commented on #15
Some settings are not available via HomeKit yet, but you can create rules with third party apps like Elgato Eve to create automations/scenes for choosen inputs

[2019-02-10 08:38] #13 closed

[2019-02-10 14:55] s-bz opened #16 "[ERROR] Error: Failed to load data, status code:500"
Hi,
I'm hitting an unexpected error on Sony TV KD-49X8000C and would appreciate if you could help.

1. I'm able to get the list of apps by running terminal command so the IP and PSK are correct.
2. I'm running homebridge as a docker container on a Synology NAS. Other plugins work OK. It's set up through https://github.com/oznu/homebridge-syno-spk with Homebridge Version 0.4.46
3. I enabled debug l

[2019-02-10 15:55] s-bz commented on #16
I tried to install https://www.npmjs.com/package/homebridge-sony-television
It worked right away. I can turn on/off the TV using that plugin, switch inputs, etc.

The interesting part is that toggling that other plugin made your plugin start working.

[code]

[2019-02-10 18:21] SeydX commented on #16
Status code 500 means internal server error, maybe ip adress incorrect? Or there are too many attempts to connect to your tv, that can be caused if u use many plugins for your tv and everyone tries to poll the state

The tv needs to be turned on for initial request, only the first time or if you change your config

[2019-02-11 16:25] Sammy990 opened #17 "Status not reported"
After replacing with V2, the status of the device isn’t updated anymore. Keeps showing offline when turned on via regular remote.

Turning on, off and switching  channels works as expected.

Any idea how to fix that?

[2019-02-11 23:57] SeydX commented on #17
With device you mean the tv? Or input? Can you post your log and config.json pls

[2019-02-12 06:57] Sammy990 commented on #17
I mean the tv, will post the config later today.
By the way...I have the V3 plugin still running as well on the same instance. Both, v1.1 and v3 were running well. May there be the new v2 and old v3 can not run together?

[2019-02-12 17:06] ronvandeven commented on #14
@SeydX thank you for looking into this. Because nowadays the economical rest value of an old 55 inch 1080p Bravia is quite low I would like to keep it until it breaks, because it is still a great screen.

[2019-02-13 09:22] paqpaqpaq opened #18 "No TV in launch panel V2.0"
Since updating to V2.0 (from accessory to platform) the TV no longer appears in the launch panel.

[2019-02-14 11:25] paqpaqpaq commented on #17
I have the same issue.
It seems to work the first time after reboot, and then it just keeps stating OFF, whilst TV is on.
Same goes for updating the chosen function from the TV remote.

[2019-02-14 16:11] SeydX commented on #18
Launch panel??

[2019-02-14 16:12] SeydX commented on #17
I will check this later, thx for feedback

[2019-02-14 16:29] paqpaqpaq commented on #18
Yes.

It suddenly is there again.

[2019-02-14 16:29] #18 closed

[2019-02-20 17:50] Sammy990 opened #19 "Volume control not working"
Hi, since iOS Beta 12.2 the volume control doesn‘t work anymore in the AppleTV interface.

Can you have a look if that is a issue with the beta or maybe they changed something so you need to update your code?

Thanks

[2019-02-21 10:19] bxlouis opened #20 "Apple remote buttons do not work with iOS 12.2 beta3"
Hi,

The latest beta came with a redesigned Apple native remote (cf. screenshot).
The three buttons at the bottom do not work as expected (Play/Pause, Back and "i").

![img_0009](https://user-images.githubusercontent.com/4128333/53161566-84d92500-35ca-11e9-912c-ea322a1597df.PNG)

[2019-02-21 10:21] bxlouis opened #21 "No input with iOS 12.2 beta3"
The input menu is now empty with the iOS 12.2 beta3 release.
It is working fine with 12.2 beta2 and nothing changed in my config file.
I can also see the input load correctly in the homebridge logs.

![screenshot 2019-02-21 at 11 23 24](https://user-images.githubusercontent.com/4128333/53161912-324c3880-35cb-11e9-98d9-b4eaeaf9dd04.png)

![img_0010](https://user-images.githubusercontent.com/4128333

[2019-02-21 10:26] bxlouis opened #22 "Node version warning"
When reading the homebridge logs, I can see the following warning message:

`/usr/lib/node_modules/homebridge-bravia-tvos requires Node version of ^8.9.1 which does not satisfy the current Node version of v11.10.0. You may need to upgrade your installation of Node.`

Is there any issue running a superior version of Node with this plugin? If not, why not remove the warning?

[2019-02-21 12:18] bxlouis opened #23 "Plugin keeps turning off TV with iOS 12.2 beta3"
After installing iOS 12.2 beta3, the TV keeps turning off automatically.
The problem disappeared when I removed the bravia-tvos platform from the config.json file so it seems that the problem comes from the plugin.

[2019-02-21 15:35] SeydX commented on #23
Hey, im also on beta 3 and i dont have any issues with the plugin

Can u post your log when tv turns off automatically pls

[2019-02-21 15:37] SeydX commented on #21
It seems the plugin have issues with syncing the data

tried to restart or reconfigure?

[2019-02-21 15:38] SeydX commented on #20
Thx for report, i have the same problem, i will check this

[2019-02-21 15:39] SeydX commented on #19
Tried with beta 3? I dont have any issues with state, can u post your log pls

[2019-02-21 15:43] SeydX commented on #19
I have the same issue, will open a issue on hap-nodejs

Think the new beta hab changed something here

[2019-02-21 15:49] SeydX commented on #19
https://github.com/KhaosT/HAP-NodeJS/issues/645

[2019-02-21 19:42] bxlouis commented on #23
OK I investigated the issue and it seems that it was linked to a script in Domoticz. I'll keep investigating and close the issue if I confirm it was caused by Domoticz.

[2019-02-21 19:46] bxlouis commented on #21
I tried to restart and always get the same behaviour. I realised that all my inputs are now displayed as individual devices in the Home app (cf. screenshot).

Not sure how I should reconfigure the plugin since I did not modify my configuration since beta2.
Here is my config.json file:

`{
   "bridge":{
      "name":"Homebridge",
      "username":"CC:22:4E:E4:DE:36",
      "port":51826,
      "pin"

[2019-02-24 16:49] paqpaqpaq commented on #17
Hi @SeydX
Any luck on this?

[2019-02-24 22:50] raphiegg commented on #16
I have the exact same issue with a Sony KD-55A1.
In my case, the Homebridge runs alone on a Raspberry Pi 3

`[2019-2-24 23:36:18] [BraviaOSPlatform] [ERROR] Sony TV: An error occured by getting inputs, trying again...
[2019-2-24 23:36:18] [BraviaOSPlatform] [ERROR] Error: Failed to load data, status code:500
[2019-2-24 23:36:18] [BraviaOSPlatform] [ERROR] Error: Failed to load data, status code:50

[2019-03-04 14:20] #23 closed

[2019-03-04 14:58] Julian12131 opened #24 "further configuration in the manufacturer's app necessary"
Hi,
Im a noob at Homebridge and im trying to install your Plugin, but it doesn't appear in the home app when I add my homebridge, it says further configuration in the manufacturer's app necessary.
what am I missing here?

thanks and sorry for the stupid question ;)

[2019-03-05 13:24] #24 closed

[2019-03-05 22:53] bxlouis commented on #21
Fixed with iOS 12 beta 4

[2019-03-05 22:53] #21 closed

[2019-03-05 22:56] bxlouis commented on #20
Back button seems to work back with iOS 12.2 beta 4 but not Play/pause and « i ».

[2019-03-06 10:52] bxlouis opened #25 "New "View TV Settings" entry in Settings does not work"
It looks like iOS 12.2 beta 4 introduced a new "View TV Settings" entry in Settings (cf. screenshot). This button seems not to be supported yet.

![img_ddbed7ee5bd2-1](https://user-images.githubusercontent.com/4128333/53876067-4ef26280-4006-11e9-854e-adb1d3342832.jpeg)

[2019-03-14 13:16] SeydX commented on #25
Added in next version, coming soon

[2019-03-19 22:49] #22 closed

[2019-03-19 22:49] SeydX commented on #19
Seems to be fixed in beta4 !

[2019-03-19 22:49] #19 closed

[2019-03-19 22:55] #15 closed

[2019-03-25 21:40] pbendersky opened #26 "Inputs are added as additional accessories"
Using 12.2 released today. The input selector shows up empty, while inputs are shown as separate accessories instead.

Screenshots attached.
![IMG_1576](https://user-images.githubusercontent.com/1420884/54955907-6baaf780-4f2d-11e9-8816-33a2b28b171d.png)
![IMG_1575](https://user-images.githubusercontent.com/1420884/54955908-6baaf780-4f2d-11e9-9048-a9f11b41fb78.png)

[2019-03-25 22:20] KennyVB opened #27 "Android Oreo 8.0"
Hello

Updated my Sony Bravia Android 55XF to android 8.0
now the update 12.2 for ios is here

i can't connect.

all other bravia for homebridge works. but none of your homebridge plugins i can get to work sadly

all of them writes this
 this one
[code]

sorta the same the other ones you have write..
any help ? :)

[2019-03-27 00:56] DR2000 commented on #27
I just got it to run on 8.0 on X900F. Seems to work OK.

The only issue I have is that if I put TV into automation to turn on and turn on Apple TV (input) it just goes to HDMI 2 where Apple TV is connected, but doesn't actually start Apple TV.

If I select AppleTV manually from the input list it works correctly. Any ideas?

[2019-03-27 09:02] maisun opened #28 "Control centre remote doesn't work"
Thanks for the plugin! It works great in Home app but in the remote from drop down control centre I cannot find the TV, what could be wrong?
Another question, can I remove all inputs like HDMI 1, 2 only keep Apple TV and fav apps?
Thank you in advance!

[2019-03-27 14:49] DR2000 commented on #28
And on option to set default on input would be nice.

[2019-03-27 18:47] maisun commented on #28
Hi again,
After some search I found some discussion on the issue, looks like HomeKit only allows one TV per hub.
See discussion here: https://github.com/nicoduj/homebridge-harmony/issues/54
And it looks like there will be a new API for TV service in HomeBridge 0.4.48, which should solve the problem. Appreciate if you could make the change to use the new API, thanks in advance!

[2019-03-27 18:52] KennyVB commented on #27
How or what did you do to get it working ?
 Tried homebridge now on:
Raspberry pi
Freebsd
macOs
No dice

[2019-03-28 10:16] hmook opened #29 "TV giving No Response in HomeApp"
When I add my Sony TV to HomeApp using you plugin for Homebridge I can only control it once. When it initial is added to HomeApp. After turning it off and on again the HomeApp is giving the TV status "No Response" any solution ideas for this?

BR, Hanno

[2019-03-28 13:11] hmook commented on #29
BTW here you have the log that's given by Homebridge.

[code]

[2019-03-28 22:48] twocolors opened #30 "tv select Dvbt not work status is off"
in log show

[3/29/2019, 1:46:32 AM] [BraviaOSPlatform] [INFO] TV: Start: Dvbc (5)
[3/29/2019, 1:46:39 AM] [BraviaOSPlatform] [WARN] TV: TV OFF <- when select Dvbt

[2019-03-30 17:14] henkhb commented on #29
For me whole homebdrige is giving no response after installing the plugin. :/
Uninstall does not help.

[2019-03-30 20:35] hmook commented on #29
Reset after uninstalling the plugin does work. Lots of work though

[2019-03-30 21:18] henkhb commented on #29
I did complete reinstall. 3h. 👎

[2019-03-31 17:30] SeydX commented on #30
Hello, im currently working on v3 with a rewritten code , i will check this in v3

[2019-03-31 17:31] SeydX commented on #29
Hello, im currently working on v3 with a rewritten code , i will check this in v3

[2019-03-31 17:32] SeydX commented on #28
Hello, im currently working on v3 with a rewritten code , i will check this in v3

[2019-03-31 17:32] SeydX commented on #27
Hello, im currently working on v3 with a rewritten code , i will check this in v3

[2019-03-31 17:33] SeydX commented on #26
Hello, im currently working on v3 with a rewritten code , i will check this in v3

[2019-03-31 17:34] SeydX commented on #20
Hello, im currently working on v3 with a rewritten code , i will check this in v3

[2019-03-31 17:34] SeydX commented on #17
Hello, im currently working on v3 with a rewritten code , i will check this in v3

[2019-03-31 17:35] SeydX commented on #16
Hello, im currently working on v3 with a rewritten code , i will check this in v3

[2019-03-31 17:43] hmook commented on #29
Great looking forward to it!

[2019-04-05 01:53] SeydX opened #32 "[BETA] Version 3 - Bugfix Thread"
Hey everyone,

as some of you may know, I am currently working on the v3 of my Bravia plugin. Most of it is already done. Currently I'm looking for beta testers to wipe out the remaining bugs and / or incorporate new requests.

Here you can read how to install the plugin and how to set it:

https://github.com/SeydX/homebridge-bravia-tvos/tree/beta
https://github.com/SeydX/homebridge-bravia-tvos/bl

[2019-04-05 01:55] SeydX commented on #14
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:55] SeydX commented on #30
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:55] SeydX commented on #29
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:55] SeydX commented on #28
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:55] SeydX commented on #27
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:56] SeydX commented on #26
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:56] SeydX commented on #25
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:56] SeydX commented on #20
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:56] SeydX commented on #17
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 01:56] SeydX commented on #16
Hello, im currently working on v3, the beta is now available!

How to download and configure:
https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-05 05:31] henkhb commented on #32
Hey. Thanks for the update. Deleting acessories and
persist result in the need of readding the homeerdige  instance to home app, right? So all automations, scenes, etc. will be gone? Hope this is not necessary in final version.

[2019-04-05 11:37] hmook commented on #32
I've been trying the beta. Seems not to work in my controlled installation (Homebridge via Docker). Installed the beta plugin and started with the most basic config gave me the following error:
`[4/5/2019, 11:33:46 AM] Loaded config.json with 0 accessories and 1 platforms.
[4/5/2019, 11:33:46 AM] ---
[4/5/2019, 11:33:46 AM] Plugin /usr/local/lib/node_modules/homebridge-bravia-tvos requires Node ve

[2019-04-05 11:56] SeydX commented on #32
@henkhb
Deleting the accessory and persist folder were just the easiest way to load the plugin without any errors. But you can also try without deleting them. Just remove the old plugin and old config entry of this plugin, restart HomeKit so the devices are gone and try

@hmook
Is the log from inital start or after several restarts? I have pushed an update, can you try pls?

Just do "**npm i -g --

[2019-04-05 12:01] hmook commented on #32
@SeydX
The log is made after serval restarts. I think the update is working. I'll be testing the config options right now. Hoping my daughter will sleep for just some more minutes ;-)

[2019-04-05 12:20] hmook commented on #32
@SeydX Deens the issue of a non responding device is still here after adding a tv it works a few minutes then the name changes and the status is set to not responding again.

[2019-04-05 12:23] SeydX commented on #32
Hm, can you start in debug mode and post the log here after the device not responds

```DEBUG=*```

[2019-04-05 12:32] hmook commented on #32
So I've resetted homebridge and restarted it. after restarting I managed to add the device again to the home app. Again it seems to work just fine but after a few on-off and switching of modes it gave the following log file:

[code]

Now Will try to reset it once more and don't give any commands. Will  post that log after this one.

[2019-04-05 12:47] SeydX commented on #32
Can you start homebridge with -D

‚homebridge -D‘

[2019-04-05 12:51] hmook commented on #32
I'm not sure because I'm on the docker install. But in the terminal of the docker install I've managed to start Homebridge with -D and it gave me the following log:

[code]

[2019-04-05 13:05] hmook commented on #32
Not sure if this helps. Tried debug mode in my docker-compose.yml and after that homebridge wasn't able to start and gave back this log:

[code]

[2019-04-05 14:57] SeydX commented on #32
Can you reset again and start homebridge again in debug mode pls

[2019-04-05 20:59] henkhb commented on #32
Thanks for the update. I put in on a testing docker environment. First start was great. Everything worked. Then I tried to add "DVBS" as a source. After that, all sources appeared as single Devices (without function) and I was no longer able to select input devices on the tv device.

[2019-04-05 22:43] SeydX commented on #32
Hey @henkhb

can you please type following command in terminal and post the output here

[2019-04-06 04:35] SeydX commented on #32
New Update Online!

Added a new parameter called "commands" into config.json to determine own commands as inputs

a list of commands can be found here
https://pro-bravia.sony.net/develop/integrate/ircc-ip/ircc-codes/index.html

See example-config.json for an example
https://github.com/SeydX/homebridge-bravia-tvos/blob/a39fead7d43e96af565807bd2a5bb07a1c1bce57/example-config.json#L41

Rewritten also

[2019-04-06 05:29] henkhb commented on #32
{"result":[[{"source":"tv:dvbs"}]],"id":3}/homebridge #

This is my output. How to add dvbs as a iput?

To the mentioned bug/behavior:

When I restart homebridge, all inputs appear in home as separated devices without function.
This is due the discovery, that runs during startup. When I force quit the home app and then reopen it, the inputs are correct again in the TV device.

[2019-04-06 05:47] hmook commented on #32
Hi @henkhb do you also use the oznu docker homebridge? Can you please tell how I start that one in debug mode because I only can find the debug mode in the front-end UI and the one in the docker-compose.yml

[2019-04-06 05:51] henkhb commented on #32
@hmook Yes. I am also using the dockerized version. But not in debug mode at the moment. The switch in config-ui is not working?

[2019-04-06 05:53] hmook commented on #32
@henkhb In my onion it's working but I get the impression that @SeydX is looking for a more detailed debug. But as far as I know these are the to options to have some sort of debug mode in the oznu docker install.

[2019-04-06 06:01] henkhb commented on #32
@hmook
Even with Debug switch on, the result is short like this:
{"result":[[{"source":"tv:dvbs"}]],"id":3}/homebridge #

Another funny thing I see here is that the TV is turned on during every restart of homebridge.
Even with WOL off.

2.0 shows dvbs input correct.

[2019-04-06 09:11] SeydX commented on #32
@hmook
the debug mode is ok, just wondering why you got not responding accessories...

@henkhb
You should be able now to add DVBS to your setup. Just put "DVBS" under "channelSource" in your config.json

If CEC is on in config.json and you restart the plugin, the plugin will always turn on the tv to detect all external inputs. CEC devices are not shown in the rest api if the tv is off, because off

[2019-04-06 09:14] hmook commented on #32
@SeydX yes I am wondering around myself. I've made a dedicated Raspberry Pi for testing purposes only (because the one that's handling my lights I can't live without). But it seems every time I add my Television it works for a couple of minutes and than the name changes and it's giving me 'No Response' logs don't show any errors besides the one that I am on Node 10.X and 8.X is required. Can't be

[2019-04-06 09:35] henkhb commented on #32
@SeydX

This is what I tried from the beginning. Not working. Only CEC Devices.
Thanks for explaining the power on behavior.

        {
            "platform": "BraviaOSPlatform",
            "tvs": [
                {
                    "name": "Sony Bedroom",
                    "ip": "192.168.178.8",
                    "port": 80,
                    "psk": "Cleopatra168424",

[2019-04-06 09:48] henkhb commented on #32
@SeydX
You are right.  Put it on a fresh container and tada: Works!
I guess I need to change my strategy. One Container per Device / Plugin.

Homebridge is kind of silly when it comes to reinstalls / updates and you are running into issues.

[2019-04-06 10:24] SeydX commented on #32
Channel up/down in ‚remote‘ currently not possible , or i need to modify the arrow buttons in remote to channel up/down

But i think thats not the idea behind the arrow buttons ^^ But you can add channel up/down as inputs via the command parameter in config.json

Home Button as input is already possible with also a ‚command‘ entry in config.json

you need to add under your tv (config.json) followi

[2019-04-06 10:30] SeydX commented on #32
@hmook

which iOS and homebridge version you use?

[2019-04-06 11:37] hmook commented on #32
@SeydX I'm on Homebridge Versie 0.4.48, and iOS version 12.2.

[2019-04-06 11:53] hmook commented on #32
So tried removing the plugin; after that resetting homebridge (only UX plugin installed); after that added the beta plugin again and reentered my config. This resulted in the following log with some errors:
[code]

Hoping this will help you out.

[2019-04-06 12:00] SeydX commented on #32
Thx! Fixed that, try reinstalling pls

[2019-04-06 12:05] hmook commented on #32
Reinstalled same way as before. Stil having a minor issue:
[code]

[2019-04-06 12:08] SeydX commented on #32
Can you reinstall again pls. You should be able to see the error now

[2019-04-06 12:14] hmook commented on #32
@SeydX Nailed it I guess thanks! Will be testing this weekend!

[2019-04-06 12:34] hmook commented on #32
Unfortunately after a while the status changed again to 'no response' and the name of the device changed to other (overige in dutch)

[2019-04-06 14:39] SeydX commented on #32
@hmook

It seems that your homebridge push new characteristics, the problem with "no response" occures mostly, if one of these characteristics is "undefined" and if homebridge update the caracteristic/service with an undefined value, the accessory will become "no response"

But i dont know why it tries to push new characteristics, the plugin do this only after a restart. And you have the prob afte

[2019-04-06 14:41] SeydX commented on #32
@hmook

Which version does your Apple TV have?

[2019-04-06 16:09] hmook commented on #32
@SeydX I have a AppleTV4 and a AppleTV4K in my network. HomeKit is using the 4 not the 4K most of the time.

[2019-04-06 22:19] pbendersky commented on #26
This worked fine in v3 the first time I used it. However, once I restarted homebridge to add Netflix as an input, all inputs were added as additional switches again.

[2019-04-06 22:21] SeydX commented on #26
Can you force quit Apple Home app and open it again pls, normally after force quitting the app and reopening they must be gone

[2019-04-06 22:22] pbendersky commented on #26
That worked! Thank you.

[2019-04-07 12:23] pbendersky commented on #32
@SeydX seems to be working great. The only missing thing for me, is the volume control. Any idea?

[2019-04-07 18:58] twocolors commented on #32
hi in this https://github.com/SeydX/homebridge-bravia-tvos/issues/30 , not switch to DVBT `[4/7/2019, 9:41:39 PM] [BraviaOSPlatform] [INFO] TV: Turn on DVBT` and not found dig. tv all config
[code]
 model tv KDL-60W605B

[2019-04-08 07:20] hmook commented on #32
@SeydX It's weird. I did a complete reinstall of ONZU docker Homebridge only installed the beta Bravia plugin but still after serval minutes I get a no response status.

[2019-04-08 14:32] hmook commented on #32
@SeydX In addition to this also the homebridge device is giving a no response status. The following error acquired:

[code]

[2019-04-08 18:57] SeydX commented on #32
@hmook

updated, can you try the new version pls

@pbendersky

TV  volume control is currently removed from Apple from the 3rd party apps, need to add a service with custom characteristics to display volume in 3rd party apps. Currently in progress

[2019-04-08 19:24] twocolors commented on #32
@SeydX plz fix in model KDL-60W605B switch to DVBT

[2019-04-08 19:25] SeydX commented on #32
@twocolors

What you mean exactly with DVBT? Whats is exactly your problem i didnt understand it

[2019-04-08 19:28] twocolors commented on #32
@SeydX detected
[code]

when switch to DVBT nothing done, HDMI * - work

[2019-04-08 22:14] SeydX commented on #32
can u post your config.json pls

can u reinstall it pls, updated some parts

[2019-04-09 00:38] SeydX commented on #32
New Update online

There are some significant changes in config.json, please check your config.json with the [example-config.json](https://github.com/SeydX/homebridge-bravia-tvos/blob/beta/example-config.json)

TL:DR
- **channelSource** renamed to **channelInputs**
- **channelInputs** is an array instead of a string, so you are able to put more than one channel input here
- **channels** changed (n

[2019-04-09 01:07] #28 closed

[2019-04-09 01:07] #27 closed

[2019-04-09 01:07] #14 closed

[2019-04-09 01:08] #16 closed

[2019-04-09 01:08] #17 closed

[2019-04-09 01:08] #20 closed

[2019-04-09 01:08] #25 closed

[2019-04-09 01:08] #26 closed

[2019-04-09 08:32] twocolors commented on #32
@SeydX update to last beta
[code]
When run get error
[code]

[2019-04-09 09:09] SeydX commented on #32
@twocolors

can you update pls? we should be able to see the error now

[2019-04-09 10:12] twocolors commented on #32
@SeydX
[code]
mb, not work WoL for model KDL ?

[2019-04-09 10:34] SeydX commented on #32
@twocolors

Is it working if you turn off wol?

[2019-04-09 13:00] SeydX commented on #30
See https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-09 13:00] #30 closed

[2019-04-09 13:00] SeydX commented on #29
See https://github.com/SeydX/homebridge-bravia-tvos/issues/32

[2019-04-09 13:00] #29 closed

[2019-04-09 13:07] SeydX opened #33 "iOS 12.3 Beta 2 - Upcoming changes"
With iOS 12.3, the following changes are coming to HomeKit regarding TV Accessory:

- It is no longer possible to select a specific input when the TV is off (see image)

<img src="https://user-images.githubusercontent.com/34152761/55802609-df760400-5ad8-11e9-89b9-b88e662ef4cd.png" width="50%" height="50%" />

[2019-04-09 15:10] SeydX commented on #32
@twocolors

So the tv is **really** turning on after restarting homebridge?

[2019-04-09 15:16] SeydX commented on #32
@twocolors

pushed new update, can you pls reinstall and try it again

[2019-04-09 19:12] twocolors commented on #32
@SeydX
[code]

[2019-04-09 19:44] SeydX commented on #32
@twocolors

can you **TURN OFF** the tv and post the output from following command pls

and than, **TURN ON** the tv and post the output from following commands pls

[2019-04-09 20:16] twocolors commented on #32
TURN OFF
[code]

TURN ON
[code]

[2019-04-09 20:24] SeydX commented on #32
@twocolors

why you got a response after 3. try from getPowerStatus?

[2019-04-09 20:29] twocolors commented on #32
@SeydX yes, i try 3 req when get OK answer

[2019-04-09 20:36] SeydX commented on #32
are you connected over wifi? @twocolors

[2019-04-09 20:48] twocolors commented on #32
@SeydX eth

[2019-04-09 20:48] SeydX commented on #32
eth ?

[2019-04-09 20:49] SeydX commented on #32
ah ethernet

[2019-04-09 20:49] SeydX commented on #32
hmmmm

[2019-04-09 21:18] twocolors commented on #32
hmmm old model (my KDL-60W605B) after 5 min TURN OFF is not res to ping and api
[code]
and when use wakeonlan must wait  ~ 30 sec to OK answer

[code]

[2019-04-09 21:20] SeydX commented on #32
im putting a ping function into the plugin to avoid this issue, pushing a update very soon

[2019-04-09 21:32] twocolors commented on #32
if i restart HB when is TV res to ping and api all is ok
[code]
but not work tv:dvbt and tv:analog ): can show curl comman to test switch to ANALOG , tv:dvbc is work fine

[2019-04-09 21:34] SeydX commented on #32
it seems you dont have "tv:analog" in your tv, so it couldnt work

[2019-04-09 21:37] twocolors commented on #32
but 'tv:dvbt' not work, mb you help how add analog (input) if from remote irc i can swich to analog/digital

[2019-04-09 21:39] SeydX commented on #32
you can not use **tv:analog** if it is not in your list

[2019-04-09 21:44] twocolors commented on #32
send some command when select custom input ?
[code]

[2019-04-09 22:21] twocolors commented on #32
build IRCC from method getRemoteControllerInfo

[2019-04-09 22:25] SeydX commented on #32
if the custom command work to turn on analog its great, via rest api it can not work because its not listed, publishing new update in a few minutes

[2019-04-09 22:55] SeydX commented on #32
@twocolors

can you pls reinstall the plugin and try it again

[2019-04-10 04:24] SeydX commented on #32
## Update:

Added two new parameter to **config.json**

- **customSpeaker:**
if true, an extra speaker accessory (with speaker service type) will be published to HomeKit
_(note: type "speaker" is available only on 3rd party apps)_
- **speakerService _[switch, lightbulb, speaker]_:**
Service Type for the custom speaker accessory
_(note: type "speaker" is available only on 3rd party apps)_

See [Exa

[2019-04-10 04:43] twocolors commented on #32
wow , thx, is ok !

[code]

pls, add support "build IRCC from method getRemoteControllerInfo", i have button like
[code]

[2019-04-10 06:50] hmook commented on #32
@SeydX Still am not able to figure out what is going wrong with my installation. Again updated and resetted my whole Homebridge OZNU installation. Even tried to do a clean installation of my SD card. But when I install the beta plugin I'm still getting the no response issue after a few minutes. Is there any bug log I can share hidden some where to see how we can solve this?

[2019-04-10 10:02] SeydX commented on #32
It looks there is an issue with your network and not with the plugin, find some useful tips here

https://github.com/nfarina/homebridge/issues/1801#issuecomment-471749123

https://github.com/nfarina/homebridge/issues/1801#issuecomment-394753293

https://github.com/nfarina/homebridge/issues/1801#issuecomment-407786859

You can also try to activate/deactivate igmp snooping (called optimize live tv o

[2019-04-10 10:18] SeydX commented on #32
Pushed also a new update !

[2019-04-10 12:37] SeydX commented on #32
@twocolors

Just pick the command you want for analog and out it in your commands array in config.json to get an input for analog

[2019-04-10 12:56] hmook commented on #32
Tried the solutions to the issues you mentioned didn't work unfortunately.

What I've also tried is installing this beta version on my perfectly fine working raspberrypi installation with OZNU docker Homebridge. And after installing the beta version of the Bravia plugin it immediately broke my whole setup. Non of the devices where responding and all off them where giving status 'no response'. Afte

[2019-04-10 12:59] SeydX commented on #32
Hm... but your are the only one with ‚no responding‘ issue.. how is your tv connected to the internet? Wifi or ethernet ? @hmook

[2019-04-10 13:01] hmook commented on #32
via ethernet. also both my raspberrypi's are connected via ethernet.

[2019-04-10 13:05] SeydX commented on #32
On which tvOS version is your apple tv @hmook

[2019-04-10 13:07] hmook commented on #32
@SeydX They are both on tvOS 12.2

[2019-04-10 13:08] SeydX commented on #32
@hmook

Can you try this pls

https://github.com/nfarina/homebridge/issues/2089#issuecomment-449956380

[2019-04-10 13:08] hmook commented on #32
Also in homebridge UI itself it gives me not supported.
![Schermafdruk 2019-04-10 15 08 05](https://user-images.githubusercontent.com/29117131/55881206-87a3cf80-5ba2-11e9-8bfb-abf4390fba10.png)

[2019-04-10 13:12] SeydX commented on #32
@hmook

Try this

https://github.com/nfarina/homebridge/issues/2089#issuecomment-449956380

Note: change the port ‚51826‘ to the port of your homebridge instance

[2019-04-10 13:20] SeydX commented on #32
@hmook

Pls post also the output from

After installing avahi

[2019-04-10 13:23] hmook commented on #32
@SeydX

Here is the out put of avahi-browse --verbose _hap._tcp:
[code]

And here is the output of sudo apt-get install avahi-utils:
[code]

[2019-04-10 13:29] SeydX commented on #32
@hmook tried this already?

[code]

[2019-04-10 13:34] hmook commented on #32
@SeydX Yes I've disabled ipv6 on cmdline.txt and in Avahi-daemon.conf

[2019-04-10 13:38] SeydX commented on #32
@hmook

Open 2 terminals

On 1:

(Let this opened)

On 2.
reset plugin
Re add to HomeKit

Post the output from 1. (need also the name of the homebridge instance

[2019-04-10 13:45] hmook commented on #32
Hi @SeydX

Hereby the output:

[code]

[2019-04-10 13:52] SeydX commented on #32
Here is the issue, homebridge connects to homekit (Homebridge-67B8) after few minutes it creates a new connection (Homebridge-122D) and removes the first one which you have added to Apple Home (Homebridge-67B8)

But why...

[2019-04-10 14:01] hmook commented on #32
@SeydX I do use two different RaspberryPi's running homebridge. The first one is running stable especially to manage my lights. The other one is for testing the beta plugin.

[2019-04-10 14:05] SeydX commented on #32
@hmook

Can you remove the plugin AND remove also the homebridge instance where the plugin was running

Than, install it again and create a new homebridge instance, set a new config.json with only base prameter

[code]

after this, start homebridge in debug mode (-D), add the accessory to Apple Home and wait till accessory got ‚no response‘

Post the output

[2019-04-10 14:45] hmook commented on #32
So I've took an clean SD-card did a complete new installation of docker-homebridge by oznu.

After the installation I have enabled debug mode (-D) and installed the Bravia Beta plugin. After that I've edited my config file and did a restart of the docker container and homebridge. Then I added the homebridge installation to my Apple Home. The following log showed:

[code]

Had avahi-browse --verbos

[2019-04-10 15:00] SeydX commented on #32
@hmook

After init homebridge install and start CAD8 appeared and after restarting for plugin it was removed and replaced by ACD0 ?

[2019-04-10 15:00] SeydX commented on #32
Or is ACD0 appeared after adding to Apple Home?

[2019-04-10 15:02] SeydX commented on #32
Btw the log you posted is not from debug mode, the post you did earlier with

[code]

This is the debug mode, i need a log like this

[2019-04-10 15:27] SeydX commented on #32
@hmool

which router u have? FritzBox?

[2019-04-10 16:42] hmook commented on #32
@SeydX no i have a few AirPorts running all wired.

[2019-04-10 16:44] SeydX commented on #32
@hmook

Can you turn off igmp snooping and try again with debug mode pls

[2019-04-10 17:29] hmook commented on #32
@SeydX igmp snooping was never on in my case.

[2019-04-11 19:18] fugazzy commented on #32
Today I did a clean new install in a separate instance for testing. Now i Get:
`
(node:2597) UnhandledPromiseRejectionWarning: TypeError: input.getCharacteristic is not a function
 at inputs.map.input (/usr/local/lib/node_modules/homebridge-bravia-tvos/src/accessory.js:220:13)
 at Array.map (<anonymous>)
 at TelevisionAccessory.getService (/usr/local/lib/node_modules/homebridge-bravia-tvos/src/acc

[2019-04-11 20:50] ayanm00 commented on #33
Could you possibly add a way to not have the TV show up in the Apple TV Remote? I have an Apple TV and a Sony TV in my Living Room, and I want to be able to change the Input, but having two "Living Room" devices in the Remote app makes is cluttered. Love the plugin, by the way!

[2019-04-12 00:56] SeydX commented on #32
Hmmm, tried restarting homebridge? @fugazzy

[2019-04-12 18:39] fugazzy commented on #32
Yes, but for now I went back to an earlier version
npm i --save SeydX/homebridge-bravia-tvos#beb7dd91bdaf751bf5b9bf4f59c27b336d0b5296 
that works fine for now.
Adding commands ChannelUp and ChannelDown lets me switch from eg. HDMI2 to TV (DVBC) - very nice :-)
Adding Channels does not seem to work. I do get another tile in Apple Home, but without any function.

[2019-04-13 08:06] SeydX commented on #32
@ all

Rewritten great part of the code to support older models without PSK functionality! For these without PSK (or for these they want a secure login without using PSK), just remove the psk parameter from config.json and restart homebridge!  Follow the instructions in the LOG to pair your TV with the plugin!

[2019-04-13 11:34] fugazzy commented on #32
Tried again a separate clean new install:
`
[37m[4/13/2019, 11:27:55 AM][39m [36m[BraviaOSPlatform][39m [INFO] Adding new accessory: Sony TV
[37m[4/13/2019, 11:27:55 AM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Initalizing Bravia API with PSK
[37m[4/13/2019, 11:27:55 AM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Cheking authentication...
[37m[4/13/2019, 11:27:55 AM][39m Ho

[2019-04-13 14:07] d0n4v4nb3ck3r commented on #32
Apr 13 09:05:20 HomeBridge homebridge[398]: 2019-04-13T14:05:20.796Z BraviaPlatformApi [Bravia Debug]: api request 2: post /sony/avContent - getCurrentExternalInputsStatus
Apr 13 09:05:20 HomeBridge homebridge[398]: 2019-04-13T14:05:20.803Z follow-redirects options { maxRedirects: 21,
Apr 13 09:05:20 HomeBridge homebridge[398]:   maxBodyLength: 10485760,
Apr 13 09:05:20 HomeBridge homebridge[398]:

[2019-04-13 14:24] SeydX commented on #32
@fugazzy @d0n4v4nb3ck3r

Can you reinstall the plugin and restart homebridge pls. After restart we should be able to see the error

[2019-04-13 14:29] fugazzy commented on #32
here is what I get now:
`[37m[4/13/2019, 2:28:01 PM][39m [36m[BraviaOSPlatform][39m [INFO] Adding new accessory: Sony TV
[37m[4/13/2019, 2:28:01 PM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Initalizing Bravia API with PSK
[37m[4/13/2019, 2:28:01 PM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Cheking authentication...
[37m[4/13/2019, 2:28:01 PM][39m Homebridge is running on

[2019-04-13 14:36] SeydX commented on #32
@fugazzy

Updated! Can u reinstall and try again pls

[2019-04-13 14:48] fugazzy commented on #32
now:
`
37m[4/13/2019, 2:47:44 PM][39m [36m[BraviaOSPlatform][39m [INFO] Adding new accessory: Sony TV
[37m[4/13/2019, 2:47:44 PM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Initalizing Bravia API with PSK
[37m[4/13/2019, 2:47:44 PM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Cheking authentication...
[37m[4/13/2019, 2:47:44 PM][39m Homebridge is running on port 51829.
[37m[4/

[2019-04-13 15:10] SeydX commented on #32
@fugazzy

Pushed a new update. Can u try again pls

[2019-04-13 15:18] fugazzy commented on #32
now this, at first the TV was OFF, then I switch it ON: (connection established)
`[37m[4/13/2019, 3:16:10 PM][39m [36m[BraviaOSPlatform][39m [INFO] Adding new accessory: Sony TV
[37m[4/13/2019, 3:16:10 PM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Initalizing Bravia API with PSK
[37m[4/13/2019, 3:16:10 PM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Cheking authentication...
[3

[2019-04-13 15:45] SeydX commented on #32
@fugazzy

New update again ^^ can u try again pös

[2019-04-13 22:19] fugazzy commented on #32
this is it now:
`[37m[4/13/2019, 10:18:14 PM][39m [36m[BraviaOSPlatform][39m [INFO] Adding new accessory: Sony TV
[37m[4/13/2019, 10:18:14 PM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Initalizing Bravia API with PSK
[37m[4/13/2019, 10:18:14 PM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Cheking authentication...
[37m[4/13/2019, 10:18:14 PM][39m Homebridge is running on port

[2019-04-13 23:12] SeydX commented on #32
@fugazzy

Hmmm, can you try the new update and post the output pls, need to debug more

[2019-04-14 04:15] d0n4v4nb3ck3r commented on #32
@Seydx

It is working now, only thing I’m seeing that I’m having issues with, is that it is showing extra inputs as extra accessories in the home app

[2019-04-14 08:05] fugazzy commented on #32
here is my output:
`
[37m[4/14/2019, 8:02:23 AM][39m [36m[BraviaOSPlatform][39m [INFO] Adding new accessory: Sony TV
[37m[4/14/2019, 8:02:23 AM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Initalizing Bravia API with PSK
[37m[4/14/2019, 8:02:23 AM][39m [36m[BraviaOSPlatform][39m [INFO] Sony TV: Cheking authentication...
[37m[4/14/2019, 8:02:23 AM][39m Homebridge is running on port

[2019-04-14 10:47] SeydX commented on #32
@d0n4v4nb3ck3r

After force quitting the home app the ‚extra‘ switches should disappear, home app have sometimes syncing issues or it takes a lot time to sync, but after force quitting and restarting the home app, they disappear and listed as inputs correctly

[2019-04-14 11:06] d0n4v4nb3ck3r commented on #32
@Seydx

So all is working good except when I add the apps as an input, then all the inputs appear as extra switches that you can’t do anything g with and quitting and restarting the home app doesn’t help.

[2019-04-14 11:08] SeydX commented on #32
@d0n4v4nb3ck3r

they disappear after HomeKit finishs syncing the accessories

[2019-04-14 11:16] SeydX commented on #32
@fugazzy

You turn the TV manually on? Can the plugin not start the TV itself? Tried with WOL?

[2019-04-14 11:30] d0n4v4nb3ck3r commented on #32
@Seydx

I waited for a while and they didn’t disappear. Now I’m getting this.

<[2019-4-14 06:28:08] [Sony TV] [ERROR] Sony TV: Error while getting new inputs!
Apr 14 06:28:08 HomeBridge homebridge[403]: [2019-4-14 06:28:08] [Sony TV] [ERROR] Sony TV: Please fix the issue and restart homebridge!
Apr 14 06:28:08 HomeBridge homebridge[403]: { status: 500,
Apr 14 06:28:08 HomeBridge homebridge[403]:

[2019-04-14 11:36] fugazzy commented on #32
Yes in this case for testing, because the LOG says no connection.
Normally I switch the TV on with this plugin. (or by Remote)

[2019-04-14 11:59] fugazzy commented on #32
something interesting: I changed my config to use DVBT (what I do not have, but what v2 of your plugin discovered automatically)
`     				"channelInputs": ["DVBC","DVBT"],
 					"channels": [
 						{
 							"channel":101,
 							"source":"DVBT"
 						},
 						{
 							"channel":102,
 							"source":"DVBT"
 						}
 					],`
now I get a very log LOG, so I attach it here
[homebridge.log](htt

[2019-04-14 12:07] SeydX commented on #32
@fugazzy

It seems there was the problem... the plugin got a problem discovering the given channel at given source (dvbc) . At this point it gives back an empty input back and the plugin tried to get the characteristics from them.

Can you also try following curl command on terminal and post the output here pls

curl http://IPHERE/sony/avContent -H 'x-auth-psk: PSKHERE' -d '{"id":3,"method":"getSo

[2019-04-14 12:20] fugazzy commented on #32
OK, I get this:
`{"result":[[{"source":"tv:dvbt"}]],"id":3}/homebridge`

BTW:
By using DVBT it seems to work fine, except there is an offset of 1 with the Channels: I configured 1 and 2 (ARD an ZDF) and Home and TV show me 2 and 3 (ZDF and WDR).
By restarting the homebridge I get all inputs as individual tiles, by force quitting and restarting the Home App I get it right in the Home App.

[2019-04-14 14:43] SeydX commented on #32
The new update should now control the given channel types in config.json and only expose it to HomeKit if it founda in the TV settings, otherwise it will skip it!

Will now check the channel nr @fugazzy

[2019-04-14 15:51] SeydX commented on #32
@fugazzy

new update online, now the channels should work as intended. Have fun

[2019-04-14 19:18] fugazzy commented on #32
Thank you very much for your work!!!
It seems to work well now, but my channels in Home App are now 3 and 4 (WDR and SAT1)
Maybe a correction in the wrong direction?

[2019-04-15 12:27] d0n4v4nb3ck3r commented on #32
Once again this is the issue I’m getting.

Apr 15 07:25:49 HomeBridge homebridge[422]: [2019-4-15 07:25:49] [Sony TV] [INFO] Sony TV: Authenticated!
Apr 15 07:25:49 HomeBridge homebridge[422]: [2019-4-15 07:25:49] [Sony TV] [INFO] Sony TV: CEC detected, checking TV state before fetching inputs...
Apr 15 07:25:49 HomeBridge homebridge[422]: [2019-4-15 07:25:49] [Sony TV] [INFO] Sony TV: TV on! Fetc

[2019-04-15 19:14] adavison007 opened #34 "2017 Sony Bravia non Android"
Can this plugin work for my 2017 Sony Bravia, But it's not Android?

[2019-04-15 19:28] SeydX commented on #34
I dont know, u need to test the beta version, i have only a android tv

[2019-04-15 20:18] adavison007 commented on #34
Thanks, I'll wait until its out of Beta

[2019-04-15 22:12] d0n4v4nb3ck3r commented on #32
@Seydx

Anyway to fix this?

[2019-04-16 18:02] fugazzy commented on #32
Is the remote part of the plugin supposed to work?
It shows up but does not seem to have any function?

What about the issue with the wrong channel numbering?

[2019-04-16 18:11] twocolors commented on #32
@SeydX wakeonlan not work again ...
[code]

[2019-04-16 22:13] #34 closed

[2019-04-16 22:20] SeydX commented on #32
@d0n4v4nb3ck3r

can u try following command pls and post the output:

@fugazzy

what you mean with the remote part of the plugin?? this one? What does not work? Will check the channels again..

<img src="https://user-images.githubusercontent.com/34152761/56247784-4a5da700-60a6-11e9-8c62-67e0ab5fbabf.PNG" width="50%" height="50%" />

@twocolors

will check this, thx

[2019-04-17 03:19] d0n4v4nb3ck3r commented on #32
@SeydX

{"error":[500,"Internal Server Error"],"id":3}

[2019-04-17 03:22] SeydX commented on #32
@d0n4v4nb3ck3r

Can u try this one

[2019-04-17 03:34] d0n4v4nb3ck3r commented on #32
@SeydX

it just sits there and outputs this

`>`

[2019-04-17 03:36] SeydX commented on #32
@d0n4v4nb3ck3r

Your raspberry can not resolve the link but you mac can?

[2019-04-17 03:39] d0n4v4nb3ck3r commented on #32
@SeydX

it did the first time but now it doesn't work on my Mac.

[2019-04-17 03:46] d0n4v4nb3ck3r commented on #32
@SeydX

What I don't get is we had it work and now it's not.

[2019-04-17 04:02] SeydX commented on #32
@d0n4v4nb3ck3r

Do you have any other bravia plugins in use? It seems that the tv rejects the request and/or have problems with multiple requests

[2019-04-17 04:03] d0n4v4nb3ck3r commented on #32
@SeydX

Now I install a different plugin [Homebridge-Sony-Television](https://github.com/arnif/homebridge-sony-television), and it works now. Both tvs are showing up in Home Kit.

[2019-04-17 04:04] d0n4v4nb3ck3r commented on #32
I did have the [Homebridge-Bravia](https://github.com/normen/homebridge-bravia) installed because yours wasn't working and now all 3 of them are showing up as TVs in HomeKit. I will try deleting this plugin and see what happens.

[2019-04-17 04:10] SeydX commented on #32
@d0n4v4nb3ck3r

The plugin you show uses simple action commands ant not the Rest API (eg the command you tried above) . Simple Commands (IRCC) does not support input state calls etc. Therefore i use IRCC only for custom commands given in config.json

It would be nice if you can try only with this plugin

[2019-04-17 04:12] d0n4v4nb3ck3r commented on #32
I am uninstalling all and seeing if your plugin continues to work. Like I said, I wanted to have the functionality and still test your beta, that's why I had the other one installed. Uninstalling now. I will update you in a little bit on if its working still.

[2019-04-17 04:13] SeydX commented on #32
@d0n4v4nb3ck3r

Allright 👍

[2019-04-17 04:17] d0n4v4nb3ck3r commented on #32
Now all is working good. all plugin and everything working good.

[2019-04-17 04:19] SeydX commented on #32
@d0n4v4nb3ck3r

Wonderful 👍

[2019-04-17 04:29] SeydX commented on #32
@twocolors

Pushed new update, can u reinstall and try again pls

[2019-04-17 06:29] fugazzy commented on #32
yes, that is what I mean. simply nothing happens by touching or swiping . . .

[2019-04-17 20:27] d0n4v4nb3ck3r commented on #32
@SeydX TV went bad this morning for some reason and got it replaced with Samsung

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-18 03:52] SeydX commented on #32
@fugazzy

Any informationen about this in the logs? any errors?

[2019-04-18 08:28] hmook commented on #32
@SeydX Looks like with a basic installation config the No response issue no longer occurs here. So hoping it's not coming back!

[2019-04-18 15:32] fugazzy commented on #32
Sorry, I had a misunderstanding: I thought I could switch channels with this remote - what does not work. But when I am in any menu then the buttons do work: i calls Help, Set and Back also work.
Is it somehow possible to call  the TV guide?

[2019-04-20 05:07] henkhb commented on #32
Updated to to actual beta, dvbs input not longer working.

[4/20/2019, 7:05:35 AM] Homebridge is running on port 51826.
[4/20/2019, 7:05:35 AM] [BraviaOSPlatform] [INFO] Sony Bedroom: Authenticated!
[4/20/2019, 7:05:35 AM] [BraviaOSPlatform] [INFO] Sony Bedroom: Handling inputs...
[4/20/2019, 7:05:35 AM] [BraviaOSPlatform] [INFO] Sony Bedroom: CEC detected, checking TV state before fetching inputs

[2019-04-20 14:46] SeydX commented on #32
@henkhb

You need to delete the cache first, the plugin loads two TV accessories

[2019-04-21 08:58] SeydX commented on #32
@henkhb

Your config is wrong

Look here https://github.com/SeydX/homebridge-bravia-tvos/blob/beta/example-config.json

[2019-04-21 09:01] henkhb commented on #32
@SeydX Thanks. I found the change in input syntax. Now working as expected. After restart some extra devices appear on home app but they are fine after quitting and restarting home app. Thanks.

[2019-04-21 09:52] fugazzy commented on #32
@SeydX Did you find the time to look into the definition of the channels? I still habe the offset off 2:
Channel 1 in the config leads to channel 3 on the TV an in the Home App

[2019-04-21 17:12] SeydX commented on #32
@fugazzy

Fixed already, will push a new update soon

[2019-04-21 20:20] SeydX commented on #32
@fugazzy

Pushed a new update, should be fixed now

[2019-04-22 08:41] fugazzy commented on #32
It works fine now, many thanks!!! Happy easter!

[2019-04-24 19:43] bxlouis commented on #33
Could you provide more info regarding the customSpeaker parameter? It is not supported by iOS 12.2. Does it mean that Airplay 2 will be supported on existing TVs?

[2019-04-24 19:46] SeydX commented on #33
@bxlouis

the ‚Television Speaker Service’ is not supported atm by apple, therefore i have added custom speaker

With customSpeaker you are able to expose an alternative Axcessory as Speaker to HomeKit, eg Lightbulb or Speaker Service (Speaker Service is only visible in 3rd party apps like EVE etc)

[2019-04-25 06:45] Veldkornet opened #36 "Cannot read property 'toString' of undefined"
App version: 3.0.
TV: Sony Brava KD-55X8507C

I upgraded from 2.0 to 3.0 today, but I'm seeing the following error in the logs. Also, the inputs are spread out as different accessories instead of being under TV (although, this may just be a remaining issue from 2.0 which hasn't corrected itself yet since 3.0 has the error below. I tried to put in DEBUG, but the below is all I get:

[code]

There's

[2019-04-25 06:48] SeydX commented on #36
Before updating from v2 to v3 you need to remove the tv from HomeKit and remove your case and persist folder

The inputs will go under the tv after force quitting the home app and reopen again

[2019-04-25 07:19] Veldkornet commented on #36
Ah yes, that seemed to sort it. I needed to delete everything under:
/accessories
/persist

Now it's working.

By the way, is the below in the logs normal>
[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]

[code]

[2019-04-25 07:32] SeydX commented on #36
You can ignore that, was for debugging ^^ Closing this issue

[2019-04-25 07:32] #36 closed

[2019-04-26 19:59] DR2000 opened #37 "[ERROR] Sony TV: An error occured while getting input state!"
Installed the latest plug-in today. TV showed up in Home with all the correct inputs.

But soon after start it starts producing these:
[4/26/2019, 3:49:50 PM] [BraviaOSPlatform] [ERROR] Sony TV: An error occured while getting input state!
[4/26/2019, 3:49:50 PM] [BraviaOSPlatform] [ERROR] [object Object]

If I try to turn the TV on or OFF via the Home:

[4/26/2019, 3:58:45 PM] [BraviaOSPlatform] [

[2019-04-26 20:00] mkoxyz opened #38 "V3.0 does not work at all"
I used the v2.0 an it worked in general. My TV was visible in HomeKit and I was able to switch it on, off and change the CEC inputs.
Well after installing V3.0 my TV is gone. Of course I changed the config so I'm now on the MIN configuration:
{
                   "platform": "BraviaOSPlatform",
                   "tvs": [
                      {
                        "name": "Sony",

[2019-04-26 20:18] mkoxyz commented on #38
I already set up my RPI from scratch twice as well my home in the HomeKit app.
Prior to the snippet shown in the first post I can see some other messages from this platform:
[4/26/2019, 9:51:47 PM] [BraviaOSPlatform] Initializing BraviaOSPlatform platform...
[4/26/2019, 9:51:47 PM] [BraviaOSPlatform] **************************************************************
[4/26/2019, 9:51:47 PM] [BraviaOSPl

[2019-04-27 01:55] SeydX commented on #37
Can you start in debug mode pls?

and post the log again pls

[2019-04-27 01:57] SeydX commented on #38
@mkoxyz

can u put your mac address (eg "mac": "01:02:03:04:05",) and port in the config ("port": 80) and try again pls

[2019-04-27 06:08] mkoxyz commented on #38
Just changed - no success, still the same issue.

Usually I use node v8.13 on my RPI3. Sine last time I set up my system from scratch I'm using v10.15.3 and this causes the following message while starting homebridge:

[4/27/2019, 8:00:09 AM] Plugin /usr/local/lib/node_modules/homebridge-bravia-tvos requires Node version of ^8.9.1 which does not satisfy the current Node version of v10.15.3. You ma

[2019-04-27 06:45] Ledbetter14 commented on #38
"ipaddress has become "ip". try changing that in your config.

[2019-04-27 07:10] mkoxyz commented on #38
s**it YES! Thank you so much!
Sorry! ;-)

[2019-04-27 07:10] #38 closed

[2019-04-28 12:49] KennyVB commented on #32
` 		{
 			"platform": "BraviaOSPlatform",
 			"tvs": [{
 			"name": "TV",
 			"ip": "10.0.2.12",
 			"port": 80,
 			"psk": "10775",
			"extraInputs": false,
 			"cecInputs": true,
 			"channelInputs": "DVBT",
 			"channels": [
             {
               "channel":2,
               "source":"DVBT"
             }
  ],
 			"mac": "CC:98:8B:4B:C5:CA",
 			"wol": true,
 			 "customSpeaker": true,

[2019-04-28 12:50] KennyVB commented on #32
still no dice with your plugin

[2019-04-28 12:54] SeydX commented on #32
@KennyVB

try this config

[code]

[2019-04-28 17:44] SeydX commented on #32
@KennyVB

Any news?

[2019-04-28 18:22] DR2000 commented on #37
SeydX,

Hopefully the log below is helpful. Thank you for your work.

"platforms": [
        {
          "platform": "BraviaOSPlatform",
          "tvs": [
            {
              "name": "Sony TV",
              "ip": "192.168.7.40",
              "port": 80,
              "psk": "drt1v@ccess77",
              "cecInputs": true,
              "customerSpeaker": true,
              "speakerTyp

[2019-04-28 18:49] KennyVB commented on #32
@SeydX

0|homebrid | [4/28/2019, 8:48:27 PM] [BraviaOSPlatform] [INFO] TV: Cheking authentication...
0|homebrid | [4/28/2019, 8:48:27 PM] Homebridge is running on port 51826.
0|homebrid | [4/28/2019, 8:48:27 PM] [BraviaOSPlatform] [INFO] TV Speaker: Authenticated!
0|homebrid | [4/28/2019, 8:48:27 PM] [BraviaOSPlatform] [INFO] TV: Authenticated!
0|homebrid | [4/28/2019, 8:48:27 PM] [BraviaOSPlatfor

[2019-04-28 20:13] RMCob opened #40 "Order of apps presented as TV inputs is different than what's specified in config.json"
Just updated to V3.0. My config.json entry is here:
      [foo.txt](https://github.com/SeydX/homebridge-bravia-tvos/files/3125443/foo.txt)
As you can see, the apps order is specified as "Netflix", "Prime Video", "ESPN", "Pandora", and "tinyCam PRO".
However, The apps shown in the list of TV inputs is in the order of "Prime Video", "Netflix", "tinyCam PRO", "ESPN", and "Pandora". Is there any way t

[2019-04-29 07:10] Sammy990 opened #41 "TV shuts down when Homebridge restarts"
Hi, I have two issues on the V3 of the Bravia Plugin:

1. When homebridge restarts or I restart my Pi and the TV is currently turned on, the TV turns off when the plugin loads on homebridge startup.

2. I‘m not longer able to turn my TV on. MAC is correct and WOL is set to true. However I‘m able to turn the TV on. I also tried the previous old dynamic plugin which is not based on the new HomeKit T

[2019-04-29 10:51] SeydX commented on #41
@Sammy990

Have you tried without WOL? (wol=false)

[2019-04-29 11:28] adavison007 opened #42 "Can this work with Non Android Sony Bravia"
Hi, Has anyone tried this with a non Android Sony Bravia TV? be keen to know before giving it a go.

[2019-04-29 11:29] bkonings commented on #42
Unless they implement the Sony API that won't work.

[2019-04-29 12:23] adavison007 commented on #42
@bkonings Do you know if it does, or is the only way to find out try it?

[2019-04-29 12:27] Sammy990 commented on #41
Works now! Thanks!

[2019-04-29 12:27] #41 closed

[2019-04-29 14:03] bkonings commented on #42
It is highly unlikely to work, the API is a specific solution by Sony as far as I can tell.

[2019-04-29 14:16] adavison007 commented on #42
@bkonings it is a 2017 Sony Bravia TV, it just isn't Android based.... do you think its worth a go?

[2019-04-29 15:00] bkonings commented on #42
I think you will fail doing this step, so check if you can do it:

https://github.com/SeydX/homebridge-bravia-tvos#preparing-the-tv-psk

[2019-04-29 16:58] SeydX commented on #42
@adavison007

If you have options for ip control or psk, just try it

[2019-04-29 16:58] SeydX commented on #40
Will check this thx

[2019-04-29 17:03] SeydX commented on #37
It seems that your tv can not handle the ‚getPlayingContentInfo‚ request
Can you try following command and post the output pls (try with tv off AND on)

[2019-04-29 17:05] SeydX commented on #32
@KennyVB

Have you tried without WOL? (wol=false)

[2019-04-29 18:27] lucaponzanelli opened #43 "TV appears in default room whenever homebridge is restarted"
Whenever homebridge is restarted, TVs appear in the default room, and get removed from all scenes, and all preferences for inputs are lost as if they were removed and then re-added to HomeKit. On the other hand, the speaker preserves all the options as expected after restarting homebridge.

This is the configuration I'm using:

[code]

[2019-04-29 20:46] SeydX commented on #43
How many TVs u have in your setup?

[2019-04-29 21:12] KennyVB commented on #32
just did..

same same

0|homebridge  | [4/29/2019, 11:12:27 PM] [BraviaOSPlatform] [INFO] TV: Cheking authentication...
0|homebridge  | [4/29/2019, 11:12:27 PM] Homebridge is running on port 51826.
0|homebridge  | [4/29/2019, 11:12:27 PM] [BraviaOSPlatform] [INFO] TV Speaker: Authenticated!
0|homebridge  | [4/29/2019, 11:12:27 PM] [BraviaOSPlatform] [INFO] TV: Authenticated!
0|homebridge  | [4/29/

[2019-04-29 21:13] lucaponzanelli commented on #43
just one

[2019-04-29 21:14] KennyVB commented on #32
would like to give you a debug thingy, but on freebsd and when i write DEBUG= it says it cant ?!?!

[2019-04-29 21:30] SeydX commented on #37
@DR2000

pushed a new version 3.0.1 for better debugging the error, can u update and post the log again pls

[2019-04-29 21:33] SeydX commented on #32
@KennyVB

Pushed a new update for better debugging, can u update pls
I dont know much about freebsd but how dou you start homebridge? Manually over terminal?

Can you try to start with "homebridge -D" ?

[2019-04-29 22:00] KennyVB commented on #32
[4/29/2019, 11:58:14 PM] [BraviaOSPlatform] [INFO] TV: Collecting...
[4/29/2019, 11:58:14 PM] [BraviaOSPlatform] [INFO] TV: Inputs Finished!
[4/29/2019, 11:58:15 PM] [BraviaOSPlatform] [ERROR] TV: An error occured while getting input state!
[4/29/2019, 11:58:15 PM] [BraviaOSPlatform] [ERROR] {
    "status": 403,
    "message": "Forbidden",
    "config": {
        "transformRequest": {},
        "t

[2019-04-29 22:08] SeydX commented on #32
@KennyVB

Can you check your PSK settings or try without PSK pls (just remove psk from config.json)

It seems the plugin can not handle the "getPlayingContent" request due to permission error (forbidden)

[2019-04-29 22:32] KennyVB commented on #32
@SeydX BUM ithat worked! now got it fully working! thx! alltho the LED at bottom in the tv now flashes alot haha what causes that? i had it only when remote button is touched?

[2019-04-29 22:33] SeydX commented on #32
@KennyVB

glad to hear that :) the led flashes due to the requests i assume

[2019-04-29 22:34] SeydX commented on #37
@DR2000

Check also this thread, maybe this will fix your problem

https://github.com/SeydX/homebridge-bravia-tvos/issues/32#issuecomment-487761431

[2019-04-30 00:00] DR2000 commented on #37
First CURL request:

With TV Off:
curl: (7) Failed to connect to 192.168.7.40 port 80: No route to host

With TV On:
{"auth_url":{"default":"http:\/\/192.168.7.40:80\/sony\/webauth\/auth_default","tv":"http:\/\/127.0.0.1:80\/sony\/webauth\/auth_tv"},"error":[403,"Forbidden"],"id":3}

[2019-04-30 00:01] SeydX commented on #37
@DR2000

Can you try without psk pls? Just remove psk from config.json and restart hb

[2019-04-30 00:02] SeydX commented on #43
@lucaponzanelli

Hmmm, anything to see in the log?

[2019-04-30 00:26] DR2000 commented on #37
Removed PSK from config. Restarted. It asked me for PIN. Added PIN to Sony TV.json. Restarted. Everything loaded up. Everything seems to work.

On/Off, all correct inputs, all input switching.

The only thing is that I added it to "TV Time" automation with Apple TV input. It turns TV on, but says can't access device. If I select Apple TV manually from input list it turns it on correctly.

[2019-04-30 00:28] SeydX commented on #37
Who says ‚cant access device‘ ? Log? TV?

[2019-04-30 00:30] DR2000 commented on #37
Messages shows up on TV.

Also I see that TV doesn't appear in any form in Home 3 or Eve app.

[2019-04-30 00:32] SeydX commented on #37
Apple is blocking 3rd party apps from access to tv accessories. Only Apple Home app has access atm

Can you post your log on activating the ‚TV Time‘ automation AND also the log from turning apple tv on manually pls

[2019-04-30 00:34] DR2000 commented on #37
![IMG_7356](https://user-images.githubusercontent.com/47646497/56935309-2c3c7180-6abe-11e9-821e-d8f39d7390e1.jpg)

[2019-04-30 00:40] DR2000 commented on #37
Running "TV Time":

[4/29/2019, 8:36:48 PM] [BraviaOSPlatform] [INFO] Sony TV: Turn on
[4/29/2019, 8:36:48 PM] [BraviaOSPlatform] [INFO] Sony TV: Turning on TV
  BraviaPlatformApi [Bravia Debug]: api request 10: post /sony/system - setPowerStatus - [{"status":true}] +6s
  BraviaPlatformApi [Bravia Debug]: api request 11: post /sony/system - setPowerStatus - [{"status":true}] +3ms
  BraviaPlatformA

[2019-04-30 00:47] SeydX commented on #37
**TV Time**

**Manually**

Everything seems to be fine, do you start TV Time wehen TV switched off? Or is TV on by activating this automation?

How about if u try one after another and show if the error appears always or only ‚sometimes‘

[2019-04-30 00:50] DR2000 commented on #37
The problem occurs with TV off. TV Time automation turns it on.

Running TV Time scene when TV is on and set to say, HDMI 1, everything works correctly. So maybe some delay is needed after TV turns on and it tries to activate CEC device.

[2019-04-30 00:52] SeydX commented on #37
Yeah thats right, as i thought, the TV can not handle the input uri in off state, will push a new update very soon

[2019-04-30 00:52] DR2000 commented on #37
Thank you for all your time that you spend on this!

[2019-04-30 01:02] SeydX commented on #37
@DR2000

v3.0.2 is online, can u update, restart hb and try again pls

[2019-04-30 01:05] DR2000 commented on #37
Perfect! Works!

[2019-04-30 01:06] SeydX commented on #37
Allright, glad to hear that :) Closing this issue now

[2019-04-30 01:06] #37 closed

[2019-04-30 04:32] KennyVB commented on #32
@SeydX
Hello agian!

`{
  "platform": "BraviaOSPlatform",
  "tvs": [
    {
      "name": "TV",
      "ip": "10.0.2.12",
      "port": 80,
      "extraInputs": false,
      "cecInputs": true,
      "channelInputs": ["DVBT"],
      "channels": [
             {
               "channel":2,
               "source":"DVBT"
             },
             {
               "channel":17,
               "source

[2019-04-30 07:03] KennyVB commented on #32
Got it working by force quit home.app
TV speaker isent supporter it says ?!

[2019-04-30 07:58] SeydX commented on #32
@KennyVB

Thats right, Apple is hiding the Speaker Service, therefore i created ‚custom‘ speaker (such as lightbulb etc) you can set this in your config.json to see i.e a lightbulb in home app to adjust the volume etc

[2019-04-30 08:22] lucaponzanelli commented on #43
Logs seems to be fine. The only warning I get concerns the version of NodeJs (I'm running node 10).
If it might help, I'm running homebridge on docker (https://github.com/oznu/docker-homebridge).

[2019-04-30 08:51] SeydX commented on #43
Maybe a pairing issue? Can u remove from HK and re add pls

[2019-04-30 10:00] iuliusmaximilian opened #44 "Node version warning"
I get this warning ?!

`Plugin /usr/local/lib/node_modules/homebridge-bravia-tvos requires Node version of ^8.9.1 which does not satisfy the current Node version of v10.15.3. You may need to upgrade your installation of Node.`

[2019-04-30 10:44] SeydX commented on #44
U can ignore that

[2019-04-30 10:44] #44 closed

[2019-04-30 10:56] iuliusmaximilian opened #45 "KDL support does not work properly"
I tried to add my older KDL and authentication worked by PIN but it does not appear im HomeKit afterwards. Here is my configuration:
[code]

... and my logs:

[code]

[2019-04-30 11:08] SeydX commented on #45
Can u start homebridge in debug mode pls

homebridge -D

or if u running as systemd

DEBUG=BraviaPlatform,BraviaPlatformApi

[2019-04-30 11:24] iuliusmaximilian commented on #45
The "only" log difference:

[code]

adert

`[4/30/2019, 1:22:44 PM] Homebridge is running on port 51827.`

[2019-04-30 11:26] SeydX commented on #45
As u can see, the plugin can not connect to the given ip in config.json

Does this model have ip control?

https://github.com/SeydX/homebridge-bravia-tvos#preparing-the-tv-without-psk

[2019-04-30 11:59] iuliusmaximilian commented on #45
Sorry, this was a local network issue, with debug nothing more than:

[code]

[2019-04-30 12:00] iuliusmaximilian commented on #45
(changed WOL in config to true)

[2019-04-30 12:02] SeydX commented on #45
@iuliusmaximilian

does the tv turns on ?

[2019-04-30 12:04] SeydX commented on #45
and sure that you have debug on? can not see any debug messages...

cause there must be more than

[code]

[2019-04-30 12:14] iuliusmaximilian commented on #45
I have a Homematic as a seconds platform and I get lots of debugs for this one but for the BraviaOSPlatform that's the only message(s)...

[2019-04-30 12:25] SeydX commented on #45
@iuliusmaximilian

pushed a new update (v3.0.3)

there must be more, can u just post the whole log or put it in a .txt file and upload here pls

[2019-04-30 19:38] lucaponzanelli commented on #43
ok, I might have found the problem. In homebridge configuration I was deleting `accessories/cachedAccessories` at startup to make cmd2switch properly work.

Apparently, if the cache is deleted as I was doing, the TV is recreated from scratch without the preferences that have been assigned to the accessory via HomeKit (e.g., room, hidden channels).

[2019-04-30 19:46] SeydX commented on #43
@lucaponzanelli

Yea its a dynamic platform plugin, the latest homebridge api, so the accessories are always stored in cachedAccessories and if u remove this, the accessory will be resetted or recreated

So its not an issue of this plugin, closing now

[2019-04-30 19:46] #43 closed

[2019-04-30 20:10] lucaponzanelli opened #46 "URI is invalid for apps"
The plugin fails to start up apps (e.g., Netflix). By looking at the logs, the uri of the applications seem to be correct, yet the plugin fails by saying the uri is invalid. In the old version, the same uri worked when used in `favApps`.

[code]

[2019-04-30 20:15] SeydX commented on #46
Ah the problem is caused to due to a wrong detection

https://github.com/SeydX/homebridge-bravia-tvos/blob/6573664716b7e1ed4797c96d75a6558143b01cee/src/accessory.js#L601

Will fix this

[2019-04-30 20:43] SeydX commented on #46
@lucaponzanelli

Should be fixed with v3.0.4

[2019-04-30 21:05] lucaponzanelli commented on #46
works now, thanks!

[2019-04-30 21:10] #46 closed

[2019-04-30 22:59] rmoya87 opened #48 "channels and apps"
hello

First thanks for your work, amazing.

Everything work but If I try config channels and apps display on home app but like active on gray and its not working, could you tell me if I am doing something wrong?

This is my config:
        {
            "platform": "BraviaOSPlatform",
            "tvs": [
                {
                    "name": "Televisión",
                    "ip": "XXX.X

[2019-04-30 23:25] SeydX commented on #48
What u mean with active on gray? Can u post a screenshot and your log pls

[2019-04-30 23:25] SeydX commented on #48
Is TVE given by your tv? Can u post ur whole log pls

[2019-05-01 00:34] SeydX commented on #48
@rmoya87

btw v3.0.6 is online

[2019-05-01 06:11] iuliusmaximilian commented on #45
Thanks for your support! I updated via $ sudo npm i -g homebridge-bravia-tvos@latest but it shows v3.0.6 not v3.0.3 in the logs? Here the entire log, I switched on/off the KD once for test purposes but still the KDL not not appear in HomeKit:

pi@raspberrypi:~ $ killall homebridge
homebridge: no process found
pi@raspberrypi:~ $ /usr/local/bin/homebridge -U /home/pi/homebridge7 -D
[5/1/2019, 8:05:3

[2019-05-01 11:57] JWThewes opened #49 "Error handling accessories"
I'm seeing an error in log when setting up my Sony Android TV from 2015. Anything I'am doing wrong?

[code]

[2019-05-01 12:31] rmoya87 commented on #48
Hello my problem is (I think is my wrong): if I have this config:
{
"platform": "BraviaOSPlatform",
"tvs": [
{
"name": "Televisión",
"ip": "XXX.XXX.X.XX",
"port": 80,
"psk": "XXXXXXX",
"wol": true,
"channels": [
{
"channel": 1,
"source": "TVE"
},
{
"channel": 2,
"source": "2"
}
],
"apps": [
"YouTube",
"Netflix"
]
}
],
"interval": 10
},

Don't display apps and channels in inputs.

But if I have thi

[2019-05-01 12:36] rmoya87 commented on #48
![IMG_73E89C6855AD-1](https://user-images.githubusercontent.com/28694040/57017217-750b3c00-6c1e-11e9-9a34-0d3d304a480d.jpeg)
Attach picture.
This is my config now:
        {
            "platform": "BraviaOSPlatform",
            "tvs": [
                {
                    "name": "Televisión",
                    "ip": "XXXXX",
                    "port": 80,
                    "psk": "XXXX",

[2019-05-01 12:37] rmoya87 commented on #48
if I remove channels apps will be on inputs but again I think problem are channels because don't display it too

[2019-05-01 14:55] SeydX commented on #48
@rmoya87

Di Inputs you posted in the screenshot will disappear after force quitting the home app

Yes, you need to start with 1, not 001

Can u post your Log

[2019-05-01 14:56] SeydX commented on #49
Can u post your config pls

[2019-05-01 15:04] det-box opened #50 "On Off switch"
Hi SeydX,
I have now switched to this plugin, Unfortunately, the device is not seen in a third-party APP.
I only see the "Sony TV Speaker" switch.
Is it possible to show the on / off switch separately?
So you can use this in scenes.
Thank you
det

[2019-05-01 15:20] SeydX commented on #50
@det-box

Apple is currently blocking 3rd party apps from controlling the television accessories

But good suggestion, i will add this as an enhancement to my list (off/on as switch accessory)

[2019-05-01 15:46] KennyVB commented on #32
0|homebridge  | [5/1/2019, 5:45:21 PM] [BraviaOSPlatform] [INFO] TV Speaker: Mute: false
0|homebridge  | [5/1/2019, 5:45:21 PM] [BraviaOSPlatform] [INFO] TV Speaker: Volume: 1
0|homebridge  | [5/1/2019, 5:45:21 PM] [BraviaOSPlatform] [INFO] TV Speaker: Mute: false
0|homebridge  | [5/1/2019, 5:45:22 PM] [BraviaOSPlatform] [INFO] TV Speaker: Volume: 6
0|homebridge  | [5/1/2019, 5:45:22 PM] [BraviaOS

[2019-05-01 17:00] SeydX commented on #32
@KennyVB

Volume and mute not workin? Or only sometimes?

[2019-05-01 17:24] JWThewes commented on #49
This is my config inside the platform part...
[code]

[2019-05-01 17:48] SeydX commented on #49
@JWThewes

Csn u try with WOL and MAC address pls

[code]

[2019-05-01 17:54] JWThewes commented on #49
That didn't work. I tried to execute this request via HTTP client and I get an 500 Internal Server Error. Must have something to do with the TV itself...

[2019-05-01 17:58] SeydX commented on #49
Yeah thats right, it seems there is something with it... do you have ip control / psk settings as described on the main site here?

Try to establish the connection to your tv and try again

[2019-05-01 17:58] #49 closed

[2019-05-01 19:01] KennyVB commented on #32
Sometimes. It crashes and then opdates status and I can see what I set

[2019-05-03 09:53] nava0928 opened #51 "Plug-ins report errors on Sony 75z9f"
[BraviaOSPlatform] [ERROR] 客厅电视: An error occured while handling accessories!
(node:2722) UnhandledPromiseRejectionWarning: TypeError: Converting circular structure to JSON
    at JSON.stringify (<anonymous>)
    at TelevisionAccessory.handleAccessory (/homebridge/node_modules/homebridge-bravia-tvos/src/accessory.js:127:30)
    at process._tickCallback (internal/process/next_tick.js:68:7)
(node:27

[2019-05-03 09:54] SeydX commented on #51
@nava0928

Can u post your config pls

[2019-05-03 10:01] nava0928 commented on #51
{
    "bridge": {
        "name": "Homebridge",
        "username": "0E:C8:7B:76:2A:67",
        "port": 51826,
        "pin": "772-57-168"
    },
    "description": "This is an example configuration file. You can use this as a template for creating your own configuration file containing devices you actually own.",
    "accessories": [
        {
            "accessory": "XiaoMiPowerStrip",

[2019-05-03 10:09] nava0928 commented on #51
and now

[5/3/2019, 6:08:37 PM] [BraviaOSPlatform] [ERROR] 客厅电视: An error occured while handling accessories!
[5/3/2019, 6:08:37 PM] [BraviaOSPlatform] [ERROR] {
    "status": 500,
    "message": "Internal Server Error",
    "config": {
        "transformRequest": {},
        "transformResponse": {},
        "timeout": 0,
        "xsrfCookieName": "XSRF-TOKEN",
        "xsrfHeaderName": "X-XSRF-TO

[2019-05-03 10:11] SeydX commented on #51
@nava0928

Can u try without psk pls, just remove PSK from config and try again

[2019-05-03 10:17] nava0928 commented on #51
When PSK is cancelled, the TV will prompt for pin, but there is no pin option in your configuration instructions.

[2019-05-03 10:19] SeydX commented on #51
@nava0928

In your homebridge folder will be generated a file called auth.json, there you need to give then pin

[2019-05-03 10:30] nava0928 commented on #51
After typing pin, it looks as if the connection is successful.
But I couldn't find the TV icon on the homekit.

[2019-05-03 10:53] nava0928 commented on #51
[5/3/2019, 6:47:51 PM] [BraviaOSPlatform] [INFO] 客厅电视: Please enter the four-digit PIN in 客厅电视.json! Located at /homebridge
[5/3/2019, 6:47:51 PM] [BraviaOSPlatform] [INFO] 客厅电视: Trying again in 30 seconds...
[5/3/2019, 6:48:21 PM] [BraviaOSPlatform] [INFO] 客厅电视: 客厅电视.json refreshed with new cookie!
[5/3/2019, 6:48:25 PM] [BraviaOSPlatform] [INFO] 客厅电视: Authenticated!
[5/3/2019, 6:48:25 PM] [Bravi

[2019-05-03 11:06] SeydX commented on #51
@nava0928

Set wol to true and try again pls

[2019-05-03 11:09] nava0928 commented on #51
and……

[5/3/2019, 7:08:09 PM] [BraviaOSPlatform] [INFO] 客厅电视: 客厅电视.json refreshed with new cookie!
[5/3/2019, 7:08:14 PM] [BraviaOSPlatform] [INFO] 客厅电视: Authenticated!
[5/3/2019, 7:08:14 PM] [BraviaOSPlatform] [INFO] 客厅电视: CEC detected, checking TV state before fetching inputs...
[5/3/2019, 7:08:14 PM] [BraviaOSPlatform] [WARN] 客厅电视: Can not check TV state, because WOL is on!
[5/3/2019, 7:08:14 P

[2019-05-03 11:11] SeydX commented on #51
@nava0928

Does the tv turns on?

Can u start homebridge in debug mode pls?

homebridge -D

or with systemd

DEBUG=BraviaPlatform,BraviaPlatformApi

[2019-05-03 11:19] nava0928 commented on #51
[5/3/2019, 7:17:30 PM] Plugin /homebridge/node_modules/homebridge-bravia-tvos requires Node version of ^8.9.1 which does not satisfy the current Node version of v10.15.3. You may need to upgrade your installation of Node.

[2019-05-03 11:41] nava0928 commented on #51
Maybe I should wait a while to test, I see your answer in other questions that if you connect TV frequently, there may be 500 errors.
Because I also had 500 errors when I was testing yesterday, I connected to it today when I retested. Today, I adjusted the configuration file again, there was no connection later.

I will test the situation tomorrow, I will report it to you again. Thank you for deve

[2019-05-04 02:58] nava0928 commented on #51
hi，It seems that my idea is correct. today I restored the configuration with psk yesterday, and then turned on the TV, and the connection was successful once! But then, because of the lack of information about a device in the input signal, I restarted the homebridge and then a 500 error occurred.

[2019-05-05 19:56] RMCob commented on #51
I was seeing this same error:
    (node:2722) UnhandledPromiseRejectionWarning: TypeError: Converting circular structure to JSON
    at JSON.stringify ()
    at TelevisionAccessory.handleAccessory (/homebridge/node_modules/homebridge-bravia-
    tvos/src/accessory.js:127:30)
    at process._tickCallback (internal/process/next_tick.js:68:7)
    (node:2722) UnhandledPromiseRejectionWarning: Unhandle

[2019-05-05 21:20] RMCob commented on #51
One more thing: It turns out that the wifi on the Raspberry Pi 3B+ has a power saving feature that is turned on by default. With this on, the wifi connection drops after a period of inactivity. The power saving feature can be disabled via "iwconfig wlan0 power off"

[2019-05-06 02:21] nava0928 commented on #51
My router is UBX's ERX and uses OPENWRT firmware. By default, IPV6 is always turned on. The smart devices in the home use static IP.

[2019-05-06 02:23] nava0928 commented on #51
Also give the author a question. According to the query, I found that the Sony 75Z9F is the version of Android 8.0.

[2019-05-06 18:42] iuliusmaximilian commented on #45
@SeydX Anything I can test on top ?

[2019-05-08 10:46] octaviz opened #52 "Have option for change volume?"
Before installing it I wanted to know if you have options to change the volume of the TV

[2019-05-08 20:44] pbendersky commented on #52
I haven't seen it documented on the README, but when you are within the Remote Control on your iOS device, the hardware volume keys will control the TV device.

[2019-05-09 08:32] octaviz commented on #52
Hi pbendersky!, I have already tried that option to do it with the iOS Remote App, my Sony TV does not work for me, I do not know if it is because it is a little old (2015) with Android, it is thinking and there is no way. In the end I decided to use the 2.5.2 de SeydX version that works well to control the volume level directly with a button without using the Apple remote.

v2.5.2 https://github.

[2019-05-09 15:13] nava0928 commented on #51
@SeydX I seem to have missed a message. My PS4, and shield TV are connected to Samsung's audio system, and then the HDMI out of the audio system is connected to the TV's HDMI3 (EARC). I found that sometimes the signal can search for the input of the PS4, but I have never searched for the shield TV. I don't know if this input method has caused some impact?

[2019-05-12 17:03] angelflames1337 opened #53 "Input listed as accessories in control center, home app works fine"
Hi,

First of all, thanks for the great work!

I have configured my Bravia in my Home app and it is working fine so far, except additional app and DVBT listed as additional accessories in the Control Center. Below is the screenshot:

[Control Center](https://lh3.googleusercontent.com/2HgdyvNZR_3ILUO6Q5TMuUkf5hpp2exZk4VeJELwfeZ1VBBEM6MIo-evZRIDnm7ZT4LXyE1dO5RZ5e85d68p27IU_T-pz_Z5uF7PptdIjYJFajAm6ag

[2019-05-12 17:12] #53 closed

[2019-05-12 17:12] angelflames1337 commented on #53
Fixed by restarting phone. Closed.

[2019-05-12 17:28] angelflames1337 opened #54 "Hide inactive entries from Input"
Tried to untick the box in the Home app, and that works. But after restarting homebridge they appear again in the list.

From other post, seems like the Elgato Eve app suppose to fix this, but my TV doesn't appear in the app at all.

Not sure if this is a bug or intended.

[2019-05-13 13:04] SeydX commented on #54
3rd party apps can not access the TV accessory because apple is blocking it

[2019-05-14 10:00] ayanm00 opened #55 "Ability to Disable Control Center Remote"
Hey SeydX,

First off, thank you for making this awesome plugin! I use it all the time to control my TV's power status through Siri. Could you possibly add a way to disable the control center remote for the Bravia TV. I have an Apple TV connected with my Bravia, and people in my house get confused as to which device to control when they see two devices with similar names in the Control Center Remo

[2019-05-14 19:59] SeydX commented on #55
@ayanm00

it is not possible to remove the TV accessory from remote controll

[2019-05-16 18:39] RMCob commented on #51
Any progress  regarding this error?:
**[2019-5-16 14:25:51] [BraviaOSPlatform] [ERROR] Sony TV: An error occured while handling accessories!
(node:15673) UnhandledPromiseRejectionWarning: TypeError: Converting circular structure to JSON
    at JSON.stringify (<anonymous>:null:null)
    at TelevisionAccessory.handleAccessory (/usr/lib/node_modules/homebridge-bravia-tvos/src/accessory.js:127:30)

[2019-05-20 05:58] GaoVang2005 opened #56 "Apps is gray"
so this is the same issue as rmoya87 i dont see you fix that so i post this as a new issue
so i add "apps":[
"Youtube"
"Spotify"
]
to my config
just Spotify show in home app but gray and actived
so how to fix that and can we put apps into inputs option of the TV ?

[2019-05-20 23:30] ticky commented on #48
I briefly had this issue with the plugin, but it resolved itself after restarting Homebridge and also the Home app, so unfortunately I can’t get logs. I wonder if it’s a first-run issue?

[2019-05-21 01:54] #55 closed

[2019-05-21 01:54] #54 closed

[2019-05-21 01:55] SeydX commented on #56
Try "YouTube"

and gray inputs in home ap cann be fixed with force quitting home app

[2019-05-21 09:55] GaoVang2005 commented on #56
well force quitting home app doenst fix the problem but by some how now apps go into the input option and can work perfectly
Thank SeydX for great plugin for homebridge

[2019-05-21 09:55] #56 closed

[2019-05-21 10:05] GaoVang2005 commented on #56
oh and can you add home button to the remote in  the control center and how to talk to siri to change input to HDMI 1 or somethings
i said set the tv input to HDMI doesnt work
And when i turn up volume through siri doenst work either

[2019-05-22 20:33] #33 closed

[2019-05-22 20:33] #42 closed

[2019-05-22 20:36] SeydX commented on #45
@iuliusmaximilian

Im working on a better debug mode

[2019-05-22 20:36] SeydX commented on #51
Im working on this

[2019-05-24 15:42] nutinshell commented on #51
same 500 error here, sony a8f.

[2019-05-26 05:21] maisun opened #58 "Feature request: register all TVs as external accessories"
Readme says:
If you have added multiple TVs to homebridge via this plugin, please note that all TVs except the first one will be published as "external accessories”

Can we have an option to allow first TV also registered as external device? I ask because I use other TV plugins which don’t support external accessory.
Thank you in advance!

[2019-05-27 15:41] ndlaham opened #59 "Add scene select (or Picture Mode) settings"
I have been trying to figure out a way to assign the picture mode (cinema home, cinema pro, sports, game, etc..) through IP control (IRCC codes and REST API) but cannot figure out how to do it. There is actually an IRCC code dedicated to PictureMode AAAAAQAAAAEAAABkAw== (which I assume just brings that menu up), but I have never been able to get it to work for my TV. Others have reported different

[2019-05-28 14:11] maisun commented on #58
Any suggestion?

[2019-06-02 23:06] janthony6 opened #61 "Sony Z9d cecinputs: true breaks this"
if you turn this on with this tv, it breaks and drops connectivity.  error below.
result is the tv now lists 4 icons in the home app for HDMI 1, 2, 3, 4.  All of which do nothing.  Once you remove cecinputs from config, it works again but you can't delete those HDMI tiles and you can no longer select from the tv.

[ERROR] Great Room TV: An error occured while handling accessories!
[6/2/2019, 15:52

[2019-06-02 23:30] janthony6 commented on #51
This error is the worst.  You can’t uninstall this plugin without redoing your entire homekit setup.  It crashes everything

[2019-06-03 20:54] RMCob opened #62 "Erroneous error msg regarding node version"
I realize this is only cosmetic, but you have been ignoring this for quite a while.... :-)

[6/3/2019, 4:43:26 PM] Plugin /usr/lib/node_modules/homebridge-bravia-tvos requires Node version of ^8.9.1 which does not satisfy the current Node version of v12.3.1. You may need to upgrade your installation of Node.

[2019-06-03 21:11] RMCob commented on #62
I apologize. After further research I realize that this message is coming from homebridge, not your plug-in. Since your package.json looks correct it must be their issue and I will pursue it with them.

[2019-06-03 21:11] #62 closed

[2019-06-04 04:08] janthony6 commented on #51
Could this error occur if there is something else on the network controlling the tv too?

Example, I noticed my z9d was throwing errors and I have it also connected to my control4 smart home.  That driver uses IP control, MAC address, Web API and WoL.

My other tv isn’t connected to control4 and this error never comes up.

Maybe the issue is the interval? Control4 interval is 30.  Maybe it should

[2019-06-04 12:43] janthony6 commented on #51
Changed my control4 to use UUID instead of IP.  Idk if that matters.

Updated my config and reinstalled this driver.  Got it working for now using MAC address.  Tried wol and it didn’t work.  Removed it and it worked.

Haven’t dared try cecinputs again - that’s always been how it fails and either crashes completely making me have to wipe my entire homebridge or makes all hdmi seperate tiles

[2019-06-05 20:32] bxlouis opened #63 "TV not listed in the TV remote widget"
Since v3 my Sony TV is not listed in the TV remote widget. I simply cannot make it appear in the list. It used to work flawless before v3. How could I help find the cause?

[2019-06-10 23:23] royale56 commented on #52
Hi @pbendersky is this on the AppleTV remote app your referring too?

[2019-06-11 05:52] royale56 opened #64 "Custom speaker"
Is the speaker type “speaker” not supported by HomeKit? I see it showing up but not working. When I switch the type to bulb or light it seems to work ok

[2019-06-11 06:10] #64 closed

[2019-06-11 15:07] royale56 opened #65 "Volume control with soundbar"
Without the sound bar my volume control works just fine but when I turn the sound bar on and try to adjust the volume it moves the volume sluggishly and only goes 1-4 levels at a time. For example if the volume is set to 10 on the tv and I try to raise it to 20 it might only move to 14. Is there a way to fix this?

The tv is the x900e and the sound bar is the htx9000f.

[2019-06-13 20:05] KennyVB opened #66 "change from DVBT to DVBC dont work"
hello

changed the configfile from DVBT to DVBC and changed the numbers to match
opon restart the log still says it reads DVBT?!?!

`0|homebridge  | [6/13/2019, 10:03:10 PM] [BraviaOSPlatform] [INFO] TV Speaker: Authenticated!
0|homebridge  | [6/13/2019, 10:03:10 PM] [BraviaOSPlatform] [INFO] TV: Authenticated!
0|homebridge  | [6/13/2019, 10:03:10 PM] [BraviaOSPlatform] [INFO] TV: CEC detected, ch

[2019-06-20 19:56] #63 closed

[2019-06-20 19:56] bxlouis commented on #63
Fixed after updating to 3.0.6 and updating homebridge to latest version.

[2019-06-20 23:25] SeydX commented on #66
It seems that your tv is not able to check dvbc

[code]

[2019-06-20 23:26] SeydX commented on #65
Yeah thats a known bug and will be fixed soon

[2019-06-20 23:26] SeydX commented on #58
Hey, will be added in the next version

[2019-06-21 06:23] maisun commented on #58
Great, thank you!

[2019-06-22 21:59] cstromme opened #67 "TVs don't appear as accessories in the Home app"
Just installed this plugin, and got it to successfully authenticate with 2 of my Sony TVs, but for some reason they won't show up in the Home app. Checked the homebridge hub in the home app and it lists my other accessory, but none of the TVs.

This is what I've added to my config.json file:
[code]

And this is from my logs:

Any idea why these TVs won't show up as accessories?

[2019-08-04 19:54] adiii4 commented on #32
Works when setting up but when I turn off the TV it won't work again as it says No Response. I'm using v3.0.06. Is this the latest version?

[2019-08-04 21:41] adiii4 commented on #32
Don't know why but it seems to work now 🥇

I still got a question though, is the version v3.0.6 on [npm](https://www.npmjs.com/package/homebridge-bravia-tvos) the latest you are working on?

[2019-08-08 04:02] ErickJR13 opened #68 ""An error occurred while handling accessories""
Environment: macOS Mojave 10.14.6, Sony Bravia XBR65X850E (2017, 65")

Values in json edited for privacy

config.json:

`	"platforms": [

		{
			"platform": "config",
			"name": "Config",
			"port": 8080,
			"sudo": false
		},

		{
			"platform": "BraviaOSPlatform",
			"tvs": [{
				"name": "TV",
				"ip": "IP address",
				"mac": "mac with uppercase letters",
				"port": 80,

[2019-09-08 13:31] ndlaham commented on #59
I saw some similar logic on this issue for a home assistant integration that may help.

https://github.com/custom-components/media_player.braviatv_psk/issues/14

[2019-09-25 21:58] iuliusmaximilian commented on #45
Hi @SeydX Can we debug to figure out what's happen ?

[2019-09-30 09:12] jeremy8551 opened #69 "not support speaker"
Set "speakerType" to "speaker", ios13 homekit prompt does not support speaker

[2019-10-03 20:54] Jafalex commented on #62
Hi, sorry I know this may not be related to this plugin in particular, however I only get this warning when using homebridge-bravia-tvos. Can you please point me in the right direction to get rid of it? Thanks!

[2019-10-06 21:19] rogerveijk opened #70 "Motion Sensor based on App/Channel or state"
This is a sort feature request, like you created the chromecast status switch to trigger automations.

E.g. Netflix app is open (or plays content) trigger a automation (example dim hue lights).

Best would be to only create a motion sensor for a specific app/channel, since regular tv channels for example shouldn’t tigger anything in my situation.

The benefit of adding a motion sensor is your auto

[2019-10-08 16:21] rogerveijk opened #71 "Remote Control doesn’t"

[2019-10-08 16:27] rogerveijk commented on #71
Apple remote control app doens’t recognise my Sony Bravia 65W855C (Android TV 7.0). I’m using iOS 13.2 on my iOS devices.
All other functions seem to work fine, turn on/off, switching inputs.

With another github Homebridge project remote control does work on my TV:
https://github.com/normen/homebridge-bravia#readme

Ps. Pressed post button on phone by accident to soon.

[2019-10-10 11:04] rogerveijk commented on #71
Nevermind. It took some time, but it working by itself.

[2019-10-10 11:04] #71 closed

[2019-10-19 15:12] iuliusmaximilian commented on #67
+1

[2019-10-29 18:21] huongminh commented on #48
I have the same issue with channel. if I add channel in the config.json then I see no channel in the input and all apps would be out on screen as separate accessories. the log shows:
[BraviaOSPlatform] [INFO] Sony TV: Checking Inputs for DVBT! Other channel sources are not considered!
Oct 30 01:15:21 raspberrypi homebridge[24993]: [10/30/2019, 1:15:21 AM] [BraviaOSPlatform] [ERROR] Sony TV: An err

[2019-11-14 14:03] bxlouis opened #72 "TV does not always appear as remote on iOS 13+"
Hi,

Using iOS 13.2, the Sony TV does not always appear in the remote quick menu (cf. screenshot).
It used to work like a charm before iOS 13.

![IMG_1DA4F35780CB-1](https://user-images.githubusercontent.com/4128333/68863539-dcd33100-06ef-11ea-8397-de8a8ace8c50.jpeg)

[2019-11-15 15:36] LinusJun opened #73 "An error occured while handling accessories! iOS 13.1.3"
[11/15/2019, 11:28:07 PM] Loaded config.json with 0 accessories and 1 platforms.,
[11/15/2019, 11:28:07 PM] ---,
[11/15/2019, 11:28:07 PM] Plugin /homebridge/node_modules/homebridge-bravia-tvos requires Node version of ^8.9.1 which does not satisfy the current Node version of v10.16.3. You may need to upgrade your installation of Node.,
[11/15/2019, 11:28:07 PM] Loaded plugin: homebridge-bravia-tv

[2019-11-15 15:45] LinusJun commented on #73
Here is my config.json
{
"bridge": {
  ...
},
"accessories": [],
"platforms": [
   {
     "platform": "BraviaOSPlatform",
     "tvs": [
       {
         "name": "Sony TV",
         "ip": "172.31.6.239",
         "port": 9999,
       }
     ],
     "interval": 10
   }
]
}

[2019-11-16 11:47] rogerveijk commented on #72
I have this issue too. Sometimes it works, sometimes you have to close and try again a few minutes later.
Doe anyone know how to fix this?

[2019-11-17 17:42] bxlouis commented on #72
@SeydX seems you are not working on this project anymore. Could you please take time to tell if there will be updated in the future?
Thanks!

[2019-12-02 00:33] pl-samurai opened #74 "TV is not power off and on"
This plugin is not working. Homekit Show sources, i pair with picode and add to tv.json but when i click on or off tv is not power on or off.

[2019-12-02 00:34] pl-samurai commented on #74
[BraviaOSPlatform] [ERROR] {
    "status": 403,
    "message": "Forbidden",
    "config": {
        "transformRequest": {},
        "transformResponse": {},
        "timeout": 0,
        "xsrfCookieName": "XSRF-TOKEN",
        "xsrfHeaderName": "X-XSRF-TOKEN",
        "maxContentLength": -1,
        "headers": {
            "Accept": "application/json, text/plain, */*",
            "Content-Type":

[2019-12-02 00:37] pl-samurai commented on #74
I chceck - turn on is working but turn off not. I can show menu on tv from homekit but i cant change source - but i see my sources.

[2019-12-28 21:12] wouterpotters commented on #67
You have to manually add these tv's. See also: https://github.com/SeydX/homebridge-bravia-tvos#multiple-tvs

[2019-12-29 22:52] cstromme commented on #67
How do you manually add them? If I try to add an accessory it doesn’t list it, and I need the code for the accessory to add it. Looked through the logs and the various files that Homebridge produces, but doesn’t seem to be a code for these accessories anywhere.

[2019-12-30 16:44] wouterpotters commented on #67
I don’t have two tv’s, so no way to test it here. I hope someone else can answer your question.

Best,
Wouter
On 29 Dec 2019, 23:52 +0100, Christian A. Strømmen <notifications@github.com>, wrote:

[2019-12-30 20:15] cstromme commented on #67
Figured it out here. Have to add `"tvs": true` to the bridge section. Then it works without having to add anything manually.

[2020-02-24 23:37] iGodPhil opened #75 "Internal Server Error"
While the plugin want to fetch the CEC inputs i get this internal server error and don't know how to handle it. Maybe someone can help me.

[2020-03-31 09:10] ZhxChen opened #76 "Does this plug-in have a mute switch control?"
Does this plug-in have a mute switch control?

[2020-04-08 16:22] RogerSelwyn commented on #75
This seems to be a problem of the TV, since I get that error when calling from Postman

[2020-04-08 16:25] RogerSelwyn commented on #51
500 error is when you do a call at sony/avContent with method getCurrentExternalInputsStatus. If there is input coming in through HDMI (at least on port 1 which I have tested), then it will generate a 500 error.

[2020-04-11 12:22] fizulnizam commented on #64
Any solution to the problem that you faced? I am having the same issue right now

[2020-04-11 12:58] fizulnizam opened #77 "Cannot change inputs and turn off TV but turning on works"
I am using KD-65X9004a and it seems that I cannot change inputs and turn the TV off using Home app. Please help me.

[2020-04-11 23:28] royale56 commented on #64
I stopped using this plugin as it hasn’t been updated in over a year. I’ve switched to this one but it does not have a bulb to adjust your volume -
https://www.npmjs.com/package/homebridge-bravia

[2020-04-21 14:26] jakobjul opened #78 "An error occured while handling accessories: Adding Television Service"
Hi,

I'm having one issue with my Sony Bravia TV KD-49x8505b and Homebridge. I have tried different Bravia plugins, also homebridge-bravia-tv, homebridge-sonybravia-platform and one from normen. All with varying success. Now, I ended up using this version (homebridge-bravia-tvos) and I get below error message.

_Note: I have tried with both psk (IP control auth: normal with psk) and TV pin (IP con

[2020-04-21 14:37] jakobjul commented on #78
I have also tried with the latest stable homebridge version, and here I get the following result. It seems it stalls, and no TV is added as accessory.

**Load log**
[4/21/2020, 2:31:54 PM] [BraviaOSPlatform] [INFO] Sony Bravia TV: Authenticated!
2020-04-21T14:31:54.711Z BraviaPlatform Sony Bravia TV: Adding Television Service
2020-04-21T14:31:54.712Z BraviaPlatform Sony Bravia TV: Adding Televisio

[2020-04-27 15:41] RMCob opened #80 "package.json needs to be updated."
Due to the latest updates to homebridge and node, the dependencies shown in package.json for "engines" needs to be updated to eliminate error messages in the log file. For testing purposes I changed the values to "homebridge": "^1.0.0", "node": "^12.0.0", and the error messages went away. These changes need to be made in the official version.

[2020-04-28 10:14] bkonings commented on #80
I made some changes and now the TV looks funny in the homekit app, channel selections have become on off switches that all have the state on. Perhaps more is needed besides the dependency updates.

[2020-04-28 12:00] kkulesa commented on #78
I have the same issue (logs in debug mode):
[2020-4-28 13:59:03] [BraviaOSPlatform] [INFO] Adding new accessory: Sony Bravia
[2020-4-28 13:59:03] [BraviaOSPlatform] [INFO] Sony Bravia: Initalizing Bravia API with PSK
[2020-4-28 13:59:03] [BraviaOSPlatform] [INFO] Sony Bravia: Cheking authentication...
[2020-4-28 13:59:03] [BraviaOSPlatform] [INFO] Sony Bravia: Authenticated!
2020-04-28T11:59:03.18

[2020-05-04 12:35] SeydX commented on #76
Yes if custom speaker is activated, check config

[2020-05-04 12:35] #76 closed

[2020-05-04 12:38] #67 closed

[2020-05-04 12:39] #66 closed

[2020-05-14 19:48] Veldkornet opened #81 "Plug-in Does Not Satisfy Homebridge Version"
![BDC897C7-C9FA-4B94-B5C7-DE8499210AC0](https://user-images.githubusercontent.com/10297361/81979035-a8074e80-962c-11ea-9f3c-3ea7e895c7fe.jpeg)

[2020-05-15 00:01] fcoura opened #82 "Second TV not working after upgrading to Homebridge 1.0.4"
Hey @SeydX, this is a great plugin. Thank you for all the hard work. Also just wanna report that it’s broken to me as well - right after updating the Homebridge to 1.0.4 and node.js to 10.17.0 the second TV is not responsive anymore. I deleted it from the home.app and tried to add it again, but it’s not showing anymore. Hope you have the time to fix it. Whole community here looking forward for it

[2020-05-18 12:14] Veldkornet commented on #78
I’m having this issue as well. Devices that were already added seems to work, but I removed my device and now I can’t add it back again due to this issue.

[2020-06-04 23:56] Soldiiier commented on #73
why is your port 9999? is that something you've set on the tv?

[2020-06-22 20:26] Sammy990 commented on #82
same here, hopefully @SeydX got time to update this plugin - as it is incredible cool

[2020-06-23 20:12] RMCob commented on #78
This problem just bit me too. I have been using this plug-in for months with no problem. Recently I was having other issues with Homebridge and deleted the device from config.json when I cleared out all of my Homebridge 'persist' directories. Since then I cannot add the device back using the identical config.json that worked previously. I get the
" [BraviaOSPlatform] [ERROR] Sony Bravia: An error

[2020-07-13 06:33] Ledbetter14 opened #83 "KDL Network Timeout"
I've got a problem with my KDL55W800A. It works great with the plugin but seems to stop responding to network requests (ie turn on) after awhile in standby and goes "No Response". This unfortunately hangs everything in that Homebridge instance. Turning the TV on manually fixes everything without a Homebridge restart. Is this expected behaviour of the older models? I don't have any TV settings rela

[2020-08-07 09:31] SeydX commented on #83
How is your TV connected to the network? Wifi?

[2020-08-07 09:32] SeydX commented on #81
Should be fixed with v3.0.7

[2020-08-07 09:32] #81 closed

[2020-08-07 09:33] SeydX commented on #80
Fixed

[2020-08-07 09:33] #80 closed

[2020-08-07 09:33] SeydX commented on #78
Try v3.0.7 pls

[2020-08-07 09:34] SeydX commented on #73
Try v3.0.7 pls

[2020-08-07 09:34] SeydX commented on #68
Try v3.0.7 pls

[2020-08-07 11:20] ryanschmidt commented on #78
@SeydX multiple TVs are showing again. Thanks!

[2020-08-14 00:15] #78 closed

[2020-08-14 00:16] #73 closed

[2020-08-14 00:17] #68 closed

[2020-09-17 08:51] maisun opened #84 "iOS 14: Issue with icon in Homekit"
Hi,
After upgrading to iOS 14, I noticed in HomeKit the TV icon is replaced by a "house" icon. The plugin still works fine though. Anybody experience the same problem?

[2020-09-17 11:40] jang-uk commented on #84
same here

[2020-09-17 14:02] maisun commented on #84
I have tried to re-add it (and clean cache before) and same result. My other plugins for harmony and samsung tizen work fine and show the right tv icon

[2020-09-18 11:44] maisun commented on #84
See here:
https://github.com/nicoduj/homebridge-harmony/issues/298

[2020-09-20 00:34] ursusHU opened #85 "Not all inputs appearing (Bravia KDL Model)"
Hi,
I have a KDL50W815B, which I must say until now works only with your Plugin correctly on long term.
I have only a small annoying issue. In the inputs menu only HDMI4 and my ATV Cec device appears, and I miss Hdmi2 & 3. Is there a setting I should modify? Thanks in advance.
My config:
{
            "platform": "BraviaOSPlatform",
            "tvs": [
                {
                    "name"

[2020-09-20 17:27] jang-uk commented on #84
wow! IT DID WORK!

[2020-09-21 18:22] donavanbecker commented on #32
can this be closed?

[2020-09-30 06:50] Sammy990 commented on #84
Seems the behavior is still the same with 14.2 Beta 2. @SeydX : Would it make sense to change the plug-in behavior to expose all TV‘s, also the first one, as external accessories by default?

[2020-09-30 06:52] maisun commented on #84
I requested that long time ago, would be nice as some other plugins only expose internal, and each HB only allows one internal TV.

[2020-10-17 18:05] ceraz68 commented on #84
Hi can you explain the steps because I tried changing the config.json file but it didn't work.

So I did the hard way ... uncommented lines 99-107 in the code of homebridge-bravia-tvos/src/accessory.js. Can't see where 'external' can be set by the config.json

[2020-10-28 12:05] paqpaqpaq commented on #84
even that doesn't work for me; I keep on getting errors that the device is already in use and restarts

[2020-10-28 21:21] ceraz68 commented on #84
@paqpaqpaq

If you did what I did (i.e. uncommenting the lines in the code) make sure that you empty the homebridge cache.

If using config-ui-x click "homebridge settings" from the top right and select "Remove Single Cached Accessory", remove the cache for the TV and then restart.

[2020-10-29 15:58] paqpaqpaq commented on #84
Unfortunately this is the outcome.
[code]

Also, I don't have the option of removing a single cached item.

[2020-11-02 14:24] #32 closed

[2020-11-02 14:25] SeydX commented on #85
Currently working on v4 and there will be some major changes, should fix this problem

[2020-11-02 14:27] SeydX commented on #84
Currently working on v4 and there will be some major changes

[2020-11-02 14:28] #83 closed

[2020-11-02 14:28] SeydX commented on #82
Currently working on v4 and there will be some major changes, should fix this problem

[2020-11-02 14:29] SeydX commented on #74
Currently working on v4 and there will be some major changes, should fix this problem

[2020-11-02 14:30] SeydX commented on #72
Currently working on v4 and there will be some major changes, should fix this problem

[2020-11-02 14:31] bxlouis commented on #72
Hi @SeydX awesome to get news from you and the v4! I’ll stay tuned to test this when it’s out!

[2020-11-02 14:31] SeydX commented on #70
Atm it is not possible to detect which app is running due to the API

[2020-11-02 14:38] SeydX commented on #65
Currently working on v4 and there will be some major changes, should fix this problem

[2020-11-02 14:38] SeydX commented on #61
Currently working on v4 and there will be some major changes, should fix this problem

[2020-11-02 14:39] SeydX commented on #51
Currently working on v4 and there will be some major changes, should fix this problem

[2020-11-02 14:40] SeydX commented on #52
Currently working on v4 and there will be some major changes

[2020-11-02 14:41] #50 closed

[2020-11-02 14:41] SeydX commented on #45
Currently working on v4 and there will be some major changes

[2020-11-02 14:42] SeydX commented on #48
Currently working on v4 and there will be some major changes, should fix this problem

[2020-11-03 18:02] SeydX commented on #85
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:02] #85 closed

[2020-11-03 18:02] SeydX commented on #82
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:02] #82 closed

[2020-11-03 18:03] SeydX commented on #74
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:03] #74 closed

[2020-11-03 18:03] SeydX commented on #72
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:03] #72 closed

[2020-11-03 18:04] SeydX commented on #48
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:04] #48 closed

[2020-11-03 18:05] SeydX commented on #45
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:05] #45 closed

[2020-11-03 18:06] SeydX commented on #58
Sorting out the issues. Added in v4 (coming soon)

[2020-11-03 18:06] #58 closed

[2020-11-03 18:06] SeydX commented on #51
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:06] #51 closed

[2020-11-03 18:07] SeydX commented on #84
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:07] #84 closed

[2020-11-03 18:07] SeydX commented on #77
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:07] #77 closed

[2020-11-03 18:08] SeydX commented on #59
Sorting out the issues. Added in v4 (coming soon)

[2020-11-03 18:08] #59 closed

[2020-11-03 18:09] SeydX commented on #61
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:09] #61 closed

[2020-11-03 18:10] SeydX commented on #75
Sorting out the issues. This issue is fixed in v4 (coming soon)

[2020-11-03 18:10] #75 closed

[2020-11-03 18:11] #70 closed

[2020-11-04 10:03] SeydX commented on #40
With next version the inputs are sorted alphabetically

[2020-11-04 10:03] #40 closed

[2020-11-04 10:04] SeydX commented on #69
With next version there will be 3 types of speaker:

- Speaker (still not supported on Apple Home, only with 3rd party apps like eve)
- Switch with custom characteristics (custom characteristics still available with 3rd party apps like eve)
- Lightbulb

[2020-11-04 10:04] #69 closed

[2020-11-04 12:50] #65 closed

[2020-11-04 12:51] #52 closed

[2020-11-04 14:37] SeydX opened #86 "Version 4 Beta"
Hey guys,

i am currently working on the 4th version of the plugin and have already fixed many of the bugs that you have encountered. There are also some new features.

## Changelog (2020-11-4)

- Refactored code
- BETTER: Authetication flow
- BETTER: Reduced cpu/ram usage
- BETTER: Detection for tv inputs
- NEW: IRCC commands as inputs
- NEW: Config UI X support
- NEW: Speaker types (switch, ligh

[2020-11-05 09:42] bkonings commented on #86
Hi, if I add HDMI as "extInput:hdmi" the HDMI inputs are added as switches under the TV.
In the version 3 I can select what input to show in the home app, seems this is not possible in version 4.
Version 3
![IMG_4837](https://user-images.githubusercontent.com/2129013/98224188-788a2c80-1f53-11eb-812e-8da607937c4d.png)

Version 4
![IMG_4840](https://user-images.githubusercontent.com/2129013/98224201

[2020-11-05 10:32] SeydX commented on #86
@bkonings

Tried to force close home app and reopen it again to refresh the tv accessory?

[2020-11-05 12:33] bkonings commented on #86
Seems the issue was that on V3 I named my tv "Sony TV" in the home app, in the new v4 I named the TV "Sony TV" in the configuration. Naming it "MyTV" resolved the issue.

[2020-11-06 16:32] #86 closed

[2020-11-09 06:35] ursusHU opened #88 "No source appears only power button, off power state not refreshed in app if turned off via own remote control"
Hi,

I have the following issues with the new version, I own an older Bravia KDL50W815B.
Issues:
- Currently only the power button is visible in Homekit there is no possibility to change the input of the TV.
At start up I receive some error messages. However in the log (debug mode) I can see the correct input selected.

- If I power off the TV via it's own remote control the state in Homekit isn't

[2020-11-09 06:36] ursusHU commented on #88
Current config:

 {
            "name": "BraviaTVOS",
            "debug": true,
            "tvs": [
                {
                    "name": "Living Room Television",
                    "ip": "192.168.XXXXX",
                    "mac": "XXXXXXXXX",
                    "port": 80,
                    "timeout": 5,
                    "psk": "XXXX",
                    "refreshInputs": false

[2020-11-09 10:27] SeydX commented on #88
@ursusHU

Thx for reporting. It seems that your TV is not listed as an android tv?

The power state could be fixed easily.

Because of the non visible inputs i need your inputs .json file

``[11/9/2020, 07:19:12] [BraviaTVOS] Living Room Television: All inputs fetched! Stored to /var/lib/homebridge-bravia/bravia/Living_Room_Television-inputs.json``

[2020-11-09 11:20] ursusHU commented on #88
@SeydX yes you are right it isn't an android tv, it's slightly earlier, however previously the on/off part was working fine (more or less). And also some inputs were appearing. So I still think your plugin could do the job. 👍

[2020-11-09 11:22] ursusHU commented on #88
`{
  "apps": [
    {
      "icon": "http://portal.store.sonyentertainmentnetwork.com/haku/img/biv_apps/BIV-2747/168x168/BIV-2747.png",
      "title": "Netflix",
      "uri": "kamaji://BIV-2747",
      "type": "application"
    },
    {
      "icon": "http://portal.store.sonyentertainmentnetwork.com/haku/img/biv_apps/BIV-4024/168x168/BIV-4024.png",
      "title": "Filmbox Live",
      "uri": "kamaj

[2020-11-09 12:27] SeydX commented on #88
Allright, the plugin can fetch apps and commands correctly...

Only inputs and channels can not be fetched

The reason for inputs not fetching is because it can not read the tv state.. I can fix this

Only for the channels i need to look deeper in the api

Btw. turning tv on/off working with the plugin?

Thx for reporting

[2020-11-09 14:34] ursusHU commented on #88
Yes, the turning on and off works flawless from Homekit.

[2020-11-09 18:20] SeydX commented on #88
@ursusHU

v4.0.3 is online and should fix the state error and give additional output in the log which i need to fix the error with fetching inputs

[2020-11-09 19:45] Sammy990 opened #89 "Channels not fetched"
Any idea why the plug-in can’t fetch the channels anymore? Should have fetched over 300 channels for dvbt

09/11/2020, 20:41:52] [BraviaTVOS] Fernseher: Fetching all channels for tv:dvbt
[09/11/2020, 20:41:52] [BraviaTVOS] Fernseher: Fetching 1. list of channels
[09/11/2020, 20:41:52] [BraviaTVOS] TV does not support fetching list for tv:dvbt, skip..
[09/11/2020, 20:41:52] [BraviaTVOS] Fernseher:

[2020-11-09 21:38] SeydX commented on #89
@Sammy990

Did it work with v4.0.2 ?

[2020-11-09 21:39] Sammy990 commented on #89
It did with 3.X. V4 is a fresh install from today

[2020-11-09 21:40] SeydX commented on #89
@Sammy990

Thx, i will check this

[2020-11-09 21:40] Sammy990 commented on #89
Thanks mate

[2020-11-09 22:48] SeydX commented on #89
@Sammy990

v4.0.4 is online. Should fix the issue

[2020-11-10 08:56] ursusHU commented on #88
@SeydX

After startup of Homebridge (the TV in turned on during that time) the following information appears:

`[10/11/2020, 09:45:42] [BraviaTVOS] Initializing BraviaOSPlatform platform...
[10/11/2020, 09:45:42] [BraviaTVOS] Living Room Television: Configuring accessory...
[10/11/2020, 09:45:42] [BraviaTVOS] Living Room Television: Adding tv service
[10/11/2020, 09:45:42] [BraviaTVOS] Living Room

[2020-11-10 09:01] ursusHU commented on #88
After that I tried to turn off from HK, the button just activated again, so I pressed again, this is what I got:
`[10/11/2020, 09:57:53] [BraviaTVOS] Living Room Television: Polling tv state
[10/11/2020, 09:57:58] [BraviaTVOS] Living Room Television: Timeout of 5ms exceeded!
[10/11/2020, 09:58:07] [BraviaTVOS] Living Room Television: OFF
[10/11/2020, 09:58:08] [BraviaTVOS] Living Room Television:

[2020-11-10 09:03] SeydX commented on #88
@ursusHU

Increase timeout to 10s in config

[2020-11-10 09:03] ursusHU commented on #88
Turning on the TV with it's own remote is recognized by the plugin, but not the turning off:

`10/11/2020, 10:02:03] [BraviaTVOS] Living Room Television: Polling tv state
[10/11/2020, 10:02:03] [BraviaTVOS] Living Room Television: {"source":"extInput:hdmi","title":"HDMI 1/MHL","uri":"extInput:hdmi?port=1"}
[10/11/2020, 10:02:13] [BraviaTVOS] Living Room Television: Polling tv state
[10/11/2020, 10

[2020-11-10 09:10] ursusHU commented on #88
Timeout set to 10s, start up:
`10/11/2020, 10:09:47] [BraviaTVOS] Living Room Television: Refreshing all inputs..
[10/11/2020, 10:09:47] [BraviaTVOS] Living Room Television: Fetching all applications
[10/11/2020, 10:09:48] [BraviaTVOS] Living Room Television: Fetching all tv inputs
[10/11/2020, 10:09:48] [BraviaTVOS] Living Room Television: An error occured during fetching tv inputs, skip..
[10/11

[2020-11-10 09:13] SeydX commented on #88
That looks better, just sone minor bugs, how aber homekit?

[2020-11-10 09:14] ursusHU commented on #88
The 10s really solved the problems now. It is updating the status even with the normal remote. Thank you!

[2020-11-10 09:34] ursusHU commented on #88
It is able to get back to live after deep sleep too, with the remote and also with HK:
`[10/11/2020, 10:18:05] [BraviaTVOS] Living Room Television: [7,"not power-on"]
[10/11/2020, 10:18:15] [BraviaTVOS] Living Room Television: Polling tv state
[10/11/2020, 10:18:25] [BraviaTVOS] Living Room Television: Timeout of 10ms exceeded!
[10/11/2020, 10:18:35] [BraviaTVOS] Living Room Television: Polling tv

[2020-11-10 09:36] SeydX commented on #88
Very nice. Any other issues?

[2020-11-10 09:39] ursusHU commented on #88
Well the input sources still not appearing,

[2020-11-10 09:42] SeydX commented on #88
Ah i see

[code]

It seems that your tv doesnt support the API call.. hmm i will check this

[2020-11-10 09:45] ursusHU commented on #88
Just as a hint previously it worked partially. See
https://github.com/SeydX/homebridge-bravia-tvos/issues/85

[2020-11-10 11:28] SeydX commented on #88
@ursusHU

i pushed a new version of my bravia module. Could you do following pls:

``sudo npm i -g @seydx/bravia@latest``
``sudo npm i -g homebridge-bravia-tvos@latest``

then type following in terminal and copy paste the output here pls

``bravia methods 192.168.178.127 --psk MYPSKHERE``

replace ip with your ip, and MYPSK with your psk

or if you use the token method, do following

````bravia me

[2020-11-10 13:18] ursusHU commented on #88
I can't get the whole response :(

  ],
      [
        "getVersions",
        [],
        [
          "string*"
        ],
        "1.0"
      ],
      [
        "getWebAppStatus",
        [],
        [
          "{\"active\":\"bool\",\"url\":\"string\"}"
        ],
        "1.0"
      ],
      [
        "setActiveApp",
        [
          "{\"uri\":\"string\",\"data\":\"string\"}"
        ],

[2020-11-10 13:29] SeydX commented on #88
@ursusHU

I need also the information on which method u dont get a response. Should be printed in the terminal

[2020-11-10 13:31] SeydX commented on #88
@ursusHU

And the output seems to be incomplete. Please copy&pase the whole output

(Look at the start from your copy&pase.. it starts with „ ], “)

[2020-11-10 13:45] ursusHU commented on #88
@SeydX yes I realized that, but I can't get any further in the terminal window.  I can't get the whole response. If you help me out how to get it, I will do it.

[2020-11-10 13:48] SeydX commented on #88
Why u cant get the whole response? Above you got the whole response, or what u mean?

[2020-11-10 13:49] ursusHU commented on #88
I simply can not scroll upwards any further

[2020-11-10 13:50] ursusHU commented on #88
I'm using config-ui-x

[2020-11-10 13:56] SeydX commented on #88
Ahh ok it doesnt matter, the line i was looking for was printed

[code]

Normally the plugin should work, the plugins calls the right endpoint, also for your tv...

V3 uses also the same endpoint as v4

Hmmm

[2020-11-10 14:10] #89 closed

[2020-11-10 17:53] jyy opened #90 "TV accessory turns into 5 separate accessories on restart of Homebridge"
after following the setup, everything seemed to be in working order.  A single TV accessory that allowed me to turn on/off and switch between the 4 HDMI inputs.  however, i restarted Homebridge, and the single TV accessory turned into 5 separate accessories; 1 TV accessory with on/off, no input selection, and non-toggleable accessory for each of the 4 HDMI inputs.
here is my config:
[code]

[2020-11-10 17:56] jyy commented on #90
here is the debug logging on startup:
[code]

[2020-11-10 17:59] SeydX commented on #90
@jyy

If you have previously used another plugin OR the v3 of this plugin with the same TV name, you must remove the TV from HomeKit, rename the TV in the config, restart Homebridge and add the TV again. Afterwards, you need to force close apple home and re open.

If you haven't used any other plugin etc. before or the TV hasn't been in Apple Home yet, then jusr force close apple home and re open

[2020-11-10 18:08] jyy commented on #90
today is the first time trying to install this plugin and i have not used any other plugins.  i force closed the home app and that didn't do anything.  i also tried removing the TV, renaming it in config, restart Homebridge, re-add TV.  it looked fine when i re-added but then i tested restarting Homebridge after this and same thing....now it is 5 accessories

[2020-11-10 18:11] jyy commented on #90
to get it to show up as a single accessory again i can remove and add the TV without making any Homebridge config changes

[2020-11-10 18:13] SeydX commented on #90
@jyy

It is a external accessory and after each hb restart u need to force class the home app. You dont need to remove it from Apple Home

Just force close the home app and re open should fix the issue after a restart

[2020-11-10 18:19] jyy commented on #90
That does not work for me.  The only way to get it back to one accessory is adding again

[2020-11-10 18:19] SeydX commented on #90
@jyy

Which ios version?

[2020-11-10 18:24] jyy commented on #90
14.1

[2020-11-10 18:25] SeydX commented on #90
@jyy

This is what i mean

https://imgur.com/gallery/rvo3PbX

[2020-11-10 18:32] jyy commented on #90
https://imgur.com/gallery/GBfoo7A

[2020-11-10 18:37] SeydX commented on #90
@jyy

Hmmm.. normally it should „link“ the inputs successfully after force close...

I‘ll check this

[2020-11-10 22:25] SeydX commented on #90
@jyy

Is it possible to update to iOS 14.2?

[2020-11-10 22:33] jyy commented on #90
yes, i will try that now.

[2020-11-10 22:34] SeydX commented on #90
thx

[2020-11-10 22:53] SeydX commented on #88
@ursusHU

i found the issue... it was a wrong dot in the function that your tv couldnt handle -_-

should be fixed now in v4.0.7

[2020-11-10 23:17] SeydX opened #91 "Check available methods and versions before calling API"

[2020-11-10 23:30] ursusHU commented on #88
@SeydX
Thank you very much! Works perfectly!

[2020-11-10 23:38] jyy commented on #90
Ah that fixed it!  Thanks!  Sounds like Home app in 14.1 isn’t able to regroup.

[2020-11-10 23:38] #90 closed

[2020-11-11 08:26] sch115 opened #92 "Channels conflict"
When I set list of dvbt channels 1 - 20, everything is listed in home app without issue. But than no matter how I change the numbering in the TV itself, after choosing channel 1 it jumps directly onto channel 10. Any idea? Thanks!

[2020-11-11 10:15] SeydX commented on #92
@sch115

`But than no matter how I change the numbering in the TV itself, after choosing channel 1 it jumps directly onto channel 10 `

You mean if you choose a channel via HomeKit the TV opens channel 10 instead of channel 1? That occurs also with other channels? Is it always channel 10 or..?

[2020-11-11 10:24] sch115 commented on #92
Exactly! All the other channels work fine (not 100% sure about channel 2 to 20, have to check again). The channel num. 1 even loads his exact name from TV but once you scroll on it through Homekit icon than the TV switches to channel 10. I've tried to change the numbering in TV setup to start counting from 2 etc but it didn't help.

[2020-11-12 15:35] czarnyolek opened #93 "command: bravia pair <host> -p 80 -n MyTV -t 5 or bravia pair <host> -p 80 -n MyTV -t 10 not working"
Hello
I have bravia without Android. To plugin version 3.0.7 plugin worked perfect. TV paired with PSK
Now have problem becouse I dont have list with inputs: Hdmi1, Hdmi2, Hdmi3 and HDmi4, also after turn off TV - when some time has passed - TV with HB is not a pair - must restart HB when TV is on.

When TV is not pair with HB I  see this log in console:

[11/12/2020, 4:26:14 PM] [BraviaTVOS] Brav

[2020-11-12 15:39] SeydX commented on #93
@czarnyolek

the error has nothing to do with pairing. You can just use your PSK in your config.

The problem is, that your tv can not be reached when it is off and some time has passed.

You could try to enable "wol" in your config to avoid turning on the TV via API. To be enable to turn on the TV via WOL, it must be activated also on your TV

[2020-11-12 15:46] czarnyolek commented on #93
I understand, but until version 3.0.7 there was no problem. Now when I come back to this version there is this problem as well

ps. "wol" in config what is responsible for? And what is the function of TV?

[2020-11-12 18:30] paqpaqpaq opened #94 "ARC audio choice"
Would it be possible to choose which audio channel the TV should use?
e.g.

Apple TV > HDMI audioset > ARC out to ARC TV. (HDMI 4)

If the TV is set to TV speakers, it will mute the audioset as default.
If the TV is set to HDMI ARC, it will work via the audioset.

[2020-11-12 18:57] SeydX commented on #93
API only works when the TV is on or in STANDBY mode.

Some older TVs will immediately switch to OFF instead of STANDBY. Therefore the API is not accessible.

The WOL method bypasses this and sends packets to the TV to wake it up. When the TV is turned ON, the plugin works as intended.

[2020-11-13 00:39] proactivematter opened #95 "Inputs Unsynced after Update"
Hello,

Out of all the add-ons I have, this one is the only one that has been completely reliable. However, after the latest update, my inputs no longer work correctly. That is, "HDMI1, HDMI2, etc" as well as Apps "YouTube, Twitch etc" no longer take me to the correct input, instead they take me to something else entirely that I may not even have listed as an input in the addon.

HDMI 3 takes me t

[2020-11-13 00:45] SeydX commented on #95
Hm it seems that the plugin sets wrong identifier to the inputs.

The same issue also with channels
#92

I will look into this, thanks for reporting

[2020-11-13 01:07] SeydX commented on #95
@proactivematter

After changing input, is the name correct from target in log?

There must be something like

``Changing input source to YouTube``

[2020-11-13 01:27] proactivematter commented on #95
Oh wow, sorry I had only looked for errors, it didn't occur to me to check that.

Yes, the logs show the actual input I am getting switched to.

[2020-11-13 01:34] SeydX commented on #95
@proactivematter

So name is correct but it takes you to wrong input? Hmm

[2020-11-13 01:42] proactivematter commented on #95
Sorry, I thought I had phrased it well.

The name shown on the log is the ACTUAL input that my TV is changing to, not the one it should be changing to.

i.e. If I select HDMI3 on Apple Home, it takes me to "Music". The logs then show: "Sony: Changing application to Music".

[2020-11-13 01:53] SeydX commented on #95
@proactivematter

I can not reproduce it. Can u please set „refreshInputs“ to true in config and restart homebridge. Maybe this will fix it

[2020-11-13 01:58] proactivematter commented on #95
I tried that to no avail, but... I did notice this on the log. I guess it may have been there before, but as it wasn't red I didn't take notice. Sorry, I am not a dev and thought errors would always show in red. I think this will point you in the right direction:

[11/12/2020, 8:55:41 PM] [BraviaOSPlatform] Sony: "refreshInputs" setted to false!
(node:95002) UnhandledPromiseRejectionWarning: Error

[2020-11-13 02:03] SeydX commented on #95
@proactivematter

Can u set „refreshInputs“ to true, restart homebridge and send me the whole log pls

[2020-11-13 02:20] proactivematter commented on #95
Done. Noticed an error, as evidenced below. My homebridge says v1.1.6 is the latest though...?

[11/12/2020, 9:14:48 PM] Got SIGTERM, shutting down Homebridge...
[11/12/2020, 9:14:53 PM] [HB Supervisor] Homebridge Process Ended. Code: 143, Signal: null
[11/12/2020, 9:14:58 PM] [HB Supervisor] Restarting Homebridge...
[11/12/2020, 9:14:58 PM] [HB Supervisor] Starting Homebridge with extra flags: -I

[2020-11-13 02:49] SeydX commented on #95
@proactivematter

Is your tv displayed as TV in home app?

[2020-11-13 03:02] proactivematter commented on #95
On my MAC running Catalina, yes, it shows as a TV with a TV icon. On my iPhone, after updating to iOS14, it shows a generic "house" icon, though as far as I can tell everything functions the same.

[2020-11-13 03:05] SeydX commented on #95
@proactivematter

Can u please remove the TV from Apple Home, rename it in config.json and restart homebridge pls

You need to add it again to Apple Home via „Add Accessory“ in Home. The Pin is printed in the Log

If the Inputs shown as seperat accessories, force close apple home and re open

Then try again switching inputs pls

[2020-11-13 03:32] proactivematter commented on #95
OK, I couldn't find a way to remove just the TV, so I removed the bridge itself and added it back.

I renamed the TV from "Sony" to "X900F".

I added the bridge back and all acessories came back online, but the TV didn't.

The log shows the following:

`[11/12/2020, 10:21:54 PM] [BraviaOSPlatform] X900F: An error occured during fetching tv:analog, skip..`

[2020-11-13 03:49] SeydX commented on #95
@proactivematter

You can ignore that.

As i said, you need to add the tv like a bridge with a pin to homekit

[2020-11-13 04:23] proactivematter commented on #95
Got it! OK, everything working as it should now. Pretty cool that CEC now returns the name of my devices instead of just HDMI1/2/3 etc. Thank you so much for the help and patience @SeydX !

Just one minor thing I would like to ask - is there a way to have CEC inputs be listed first? Currently apps are listed first, and then CEC.

[2020-11-13 04:28] SeydX commented on #95
Wonderful

I didnt figure out how apple handles the display order atm. But im on it, maybe in a future version there will be a option to customize the display order via config

Closing the issue now :)

[2020-11-13 04:28] #95 closed

[2020-11-13 17:15] idominiki commented on #93
I can‘t use the Bravia pair command, too. Also if I ran the command inside the node modules folder.

Output: bravia: command not found
Also when TV is on

[2020-11-13 18:54] SeydX commented on #93
@czarnyolek @idominiki

do you have installed the latest bravia module?

``sudo npm i -g @seydx/bravia@latest --unsafe-perm``

[2020-11-14 00:15] SeydX commented on #94
Hm sry for the dump question but what u mean exactly :D

[2020-11-14 04:45] SeydX commented on #92
@sch115

should be fixed with v4.0.8

[2020-11-14 04:55] SeydX commented on #95
@proactivematter

DisplayOrder added in v4.0.8

See [Example Config](https://github.com/SeydX/homebridge-bravia-tvos/blob/b4a5ff6c1fa65e35a1797f1899e362f2ff43922d/example-config.json#L66)

____

### DisplayOrder works like below

_Example_
[code]

### If you want to sort eg. apps one by one, just rearrange the apps inside the array

_Example_
[code]

[2020-11-14 08:51] sch115 commented on #92
Thank you!!! At the end, just in case anybody else is going to have same issues, I've had to re-tune whole TV to get new list of channels. I believe there was (in TV) some cached information causing this bug. After this I was able to input all the channels I wanted to have in Homekit and everything is working like a charm now.

[2020-11-14 08:55] idominiki commented on #93
I think so but it seems I didn't; worked now!

[2020-11-14 11:15] #92 closed

[2020-11-14 11:22] idominiki opened #96 "An error occured during polling tv/speaker state"
Sorry SeydX; but now I have the same error with the bravia-tvOS plugin.
![Bildschirmfoto 2020-11-14 um 12 22 18](https://user-images.githubusercontent.com/62521486/99145988-0e206d00-2674-11eb-9e55-5001e17fd15b.png)

[2020-11-14 11:23] SeydX commented on #96
@idominiki

Can u turn on debug pls in config and restsrt homebridge

[2020-11-14 14:36] proactivematter commented on #95
Awesome @SeydX! Got it set up just the way I want it! Thank you 🙂

[2020-11-14 17:02] #93 closed

[2020-11-15 16:05] idominiki commented on #96
![50766D80-03E2-4088-9201-48B381AB884F](https://user-images.githubusercontent.com/62521486/99190069-c4637f80-2764-11eb-924f-54d7a69797cd.jpeg)
Here with debug enabled

[2020-11-15 16:07] idominiki commented on #96
If I turn on the TV everything works fine. No errors

[2020-11-15 16:19] SeydX commented on #96
@idominiki

This is an log bug, normally it ist a error, it says just that the tv is turned off

With next version i will remove it from the log

Any other errors? Otherwise this can be closed or?

[2020-11-15 16:21] idominiki commented on #96
Thanks for your great work!

[2020-11-15 16:21] #96 closed

[2020-11-19 06:35] frieder732 opened #97 "Pin"
Hello, where do I have to use this command to get the token.
bravia pair <host> -p 80 -n MyTV -t 5

[2020-11-19 13:03] paqpaqpaq commented on #94
Sorry for my late reply.

I mean this setting:

![IMG_3113-2](https://user-images.githubusercontent.com/34166264/99669779-df3d3900-2a6f-11eb-8528-649ee70b76ea.jpg)
![IMG_3114-2](https://user-images.githubusercontent.com/34166264/99669805-e95f3780-2a6f-11eb-91e7-be9bd980116d.jpg)

[2020-11-19 20:40] SeydX commented on #94
@paqpaqpaq

Ah, i will check this thanks

[2020-11-20 21:07] SeydX commented on #97
hey @frieder732

open terminal and write the command

or wait for next version

![braviatvos_ui_demo](https://user-images.githubusercontent.com/34152761/99849975-ce2e1e00-2b7c-11eb-8382-2933e68004c2.gif)

[2020-11-22 05:49] #97 closed

[2020-11-22 05:59] SeydX commented on #97
Added in v4.1.0

[2020-11-22 06:15] Fofer opened #99 "Unable to set up 4.1 using new UI"
The new setup UI looks great! But it's not working for me, I get stuck on this screen, the gear just turns and turns.

![CleanShot 2020-11-21 at 22 12 02](https://user-images.githubusercontent.com/518749/99896585-c175fc80-2c46-11eb-8b6b-05f0335a469d.png)

I am running Homebridge 1.1.6, Node.js v14.15.1, and Npm v6.14.8.  I have 11 other plug-ins installed, all working fine.

The error in my homebr

[2020-11-22 06:22] SeydX commented on #99
@Fofer

Aah sry, forgotten to add plugin ui utils as dependency 😑

Should be fixed with v4.1.1

[2020-11-22 07:10] Fofer commented on #99
Thanks for the quick reply!  I just updated to 4.1.1 and it's still not working.  Now the gear goes away but the setup window stays blank.

![CleanShot 2020-11-21 at 23 07 53](https://user-images.githubusercontent.com/518749/99897472-a14a3b80-2c4e-11eb-89e4-d8fa1e77f973.png)

I uninstalled and reinstalled the plugin, I rebooted Homebridge, and I also reboot the Raspberry Pi, all to no avail.  The

[2020-11-22 11:57] SeydX commented on #99
@Fofer

Config ui x version?

[2020-11-22 13:20] Fofer commented on #99
@SeydX

homebridge-config-ui-x v4.34.0

[2020-11-22 13:21] SeydX commented on #99
@Fofer

Anything in the browser debugging console?

[2020-11-22 13:45] Fofer commented on #99
This is what I see in the javascript console:

![CleanShot 2020-11-22 at 05 44 16](https://user-images.githubusercontent.com/518749/99905486-e2aa0d80-2c85-11eb-95a0-527eb40cfede.png)

[2020-11-22 13:49] SeydX commented on #99
@Fofer

can u try reinstalling the plugin pls?

``sudo npm i -g homebridge-bravia-tvos@latest --unsafe-perm``

[2020-11-22 13:58] bxlouis opened #100 "Issue with "Command" option"
I noticed what seems to be a bug in the Home app when adding any type of "command" in the config.
Instead of displaying the regular input selector, the accessory just displays the "On/Off" button and all the entries are listed as "On" or "Off" at the top of the details view.

![IMG_4373](https://user-images.githubusercontent.com/4128333/99905759-224b1680-2cd3-11eb-946a-b96c2624f014.PNG)

Also, all

[2020-11-22 13:59] SeydX commented on #100
@bxlouis

just force close the home app and reopen it. Should fix it

[2020-11-22 14:01] bxlouis commented on #100
All right, I had to force close multiple times but it finally came back to normal.
Thanks @SeydX

[2020-11-22 14:01] #100 closed

[2020-11-22 14:07] Fofer commented on #99
I tried that, and restarted homebridge, and am still unable to access the new setup UI via this laptop.
I get the same frozen blank screen.
However, I've figured out a big clue.  It DOES work in Safari on my iPhone running iOS 14.2.  It also works in Google Chrome v86.0.4240.198.
Where it doesn't work is my MacBook Pro, running Safari 12.1.2 and macOS Mojave 10.14.6.  (I need to keep this particul

[2020-11-22 14:36] SeydX commented on #99
Ahh, ok. I forwarded this to oznu (developer of config-ui-x)

thx

[2020-11-22 15:28] Fofer commented on #99
No problem, hopefully oznu can help.

 I will note that I've had no other issues with config-ui-x on this laptop, everything has worked brilliantly. This is the first homebridge plugin that's posed a problem.

Perhaps you can introduce a failsafe mechanism, if the new setup wizard doesn't work, the user could click a button to revert to the older "manual" method? (which worked fine for me too.)

A

[2020-11-22 15:31] SeydX commented on #99
@Fofer

There is already a fallback for user with homebridge-config-ui-x  < v4.34.0

Already tried a another plugin with custom ui support?

Maybe you could install, just for testing purposes, **homebridge-electra-smart** or **homebridge-gsh** which also supports custom ui

[2020-11-22 17:41] #99 closed

[2020-11-22 19:29] Fofer commented on #99
I did some testing as you requested.

For starters, this homebridge-bravia-tvos plugin **does** work in Safari 13.2, just not the older version of Safari 12.1.2 I use as my default browser.  (I was able to test version 13.2 by way of the "Safari Technology Preview" I have installed as an alternate browser.)

It also works in Google Chrome and presumably, the current Safari 14.

The same goes for h

[2020-11-22 20:30] Fofer opened #101 "Input and Application buttons not working"
Hi, I have v4.1.1 working great, I am able to turn my Sony TV (Bravia XBR-65X750D) on and off and adjust the volume via HomeKit.  I love it!

I just added **HDMI 2** as a TV input, and since this version of the plug-in successfully scanned for installed apps on my Sony, I added **VUDU** as an application too.  The buttons show up in HomeKit.  However, pressing them doesn't do anything.  They don't

[2020-11-22 20:34] SeydX commented on #101
Hey @Fofer

Yes appName and appUUID is only for PIN authentication.

I assume you have added the inputs via new custom ui?

Can u post your config.json pls

[2020-11-22 20:35] Fofer commented on #101
SOLVED:  I force quit the Home app and now these two options instead appear within a menu, inside the Sony TV button, and not as separate buttons in the Home app interface.

And this time, more importantly... they work.

[2020-11-22 20:37] SeydX commented on #101
Ah nice. Yes due to the reason that TVs are now „external accessories“ - the home app needs to be forced close after every hb restart to rearrange/link the inputs to the tv. I think its a bug in apple home, every tv plugin that expose the tv as a external accessory has the same bug.

But glad thats work now 👍🏼

Closing this issue

[2020-11-22 20:37] #101 closed

[2020-11-22 20:38] Fofer commented on #101
Thank you SeydX. You rock!

[2020-11-22 21:16] Fofer commented on #94
Yes, same request here.  Often my Bravia's speaker setting gets changed to TV speaker (I'm not sure why) and I have to use the Sony remote to get to Settings to change it to ARC. So if there could be a shortcut button for this in HomeKit, that would be amazing.

[2020-11-22 21:25] Fofer opened #102 "How to get to AndroidTV Home Screen?"
My default streaming device is on HDMI 2 and I leave it there most of the time.  Sometimes I do have to get to the AndroidTV interface for TV settings though, to bounce around the Home screem, or for browsing the Google Play Store, or launching an app that's only installed on the TV.

How do I switch to that?  It's not on the Inputs list.  And I don't see the "Home Screen" as an available app.   I

[2020-11-22 21:29] Fofer opened #103 "Sleep Timer Presents"
Launching the "Timers" app displays this, which is great, a step in the right direction!

![IMG_6613](https://user-images.githubusercontent.com/518749/99917669-9206d480-2cc6-11eb-9534-fcdc5904f834.jpg)

But then I need to switch to the Sony remote to actually select one of the options.  So I was thinking, how great would it be if these options could be exposed as preset commands, in HomeKit?  Game

[2020-11-22 21:38] SeydX commented on #102
@Fofer

Tried adding a command?

![811D2A7E-AFDB-4E11-BF82-62A38B6FFB9B](https://user-images.githubusercontent.com/34152761/99917870-6fe77380-2d13-11eb-90b8-b550dd72a0c9.gif)

[2020-11-22 23:29] Fofer commented on #102
HOLY WOW!  Not sure how I missed that. Works perfectly, obviously.

This is incredible.  Thank you again!

Is there any way to string multiple commands together, kind of like a macro?  If so, we would be able to string together commands for customized control, and do things like enable a [60 minute sleep timer,](https://github.com/SeydX/homebridge-bravia-tvos/issues/103) via HomeKit :)

[2020-11-23 06:44] DanteTheDonkey opened #104 "Accessory not showing on Home app"
- Installed and configured plug-in with no issues.

- Linked to TV via pin

- Accessory shows up in homebridge.

Unfortunately, the accessory is not showing in Home app on iphone on 14.3 beta. I really can't see that there is a preference I have missed for it to not show up.

Any idea if this is likely to be an issue with the ios beta?

Thanks

[2020-11-23 06:49] SeydX commented on #104
The TV is an external Accessory and must be added separately to HomeKit

Read: https://github.com/homebridge/homebridge/wiki/Connecting-Homebridge-To-HomeKit#how-to-add-homebridge-cameras--tvs

[2020-11-23 06:53] DanteTheDonkey commented on #104
Now I feel kind of dumb. Thanks!

[2020-11-23 06:53] #104 closed

[2020-11-23 07:50] SeydX commented on #94
Added in v4.1.2

You can now create macros. I have added two macros to example config that show how to switch between these two settings.

[Example Config](https://github.com/SeydX/homebridge-bravia-tvos/blob/master/example-config.json#L69)

[2020-11-23 07:50] SeydX commented on #102
Added in v4.1.2

[Example Config](https://github.com/SeydX/homebridge-bravia-tvos/blob/master/example-config.json#L69)

[2020-11-23 07:50] #102 closed

[2020-11-23 07:50] SeydX commented on #103
Added in 4.1.2

[Example Config](https://github.com/SeydX/homebridge-bravia-tvos/blob/master/example-config.json#L69)

[2020-11-23 07:52] paqpaqpaq commented on #94
Cool, thanks.
I did change my hardwired setup with regards to HDMI ARC and have it 'solved' that way, but actually this is a quite welcome feature to have!

[2020-11-23 07:52] SeydX commented on #91
Added in v1.1.0 Beta

https://github.com/SeydX/bravia/commit/694ca83942339e197a210149f74c2edf42636168

[2020-11-23 07:52] #91 closed

[2020-11-23 07:52] #94 closed

[2020-11-23 08:02] SeydX commented on #99
I talked to oznu about it and the new custom ui is only compatible with iOS 14 and two most recent major versions of Safari/Chrome/Firefox Browser

https://github.com/oznu/homebridge-config-ui-x#supported-browsers

[2020-11-23 10:53] oznu commented on #99
A fix for older browsers is now in the `@test` tag of the Homebridge UI.

https://github.com/oznu/homebridge-config-ui-x/wiki/How-To-Test-Upcoming-Changes

[2020-11-23 13:27] Fofer commented on #103
This is fantastic!  Again, thanks so much. I am now trying to create some working "sleep timer" macros, that don't exit the screen I'm watching.

Unfortunately, at least on my my Bravia TV model, invoking the Sleep timer isn't possible from the Action/Top Menu.

I don't see a way to launch the "Timers" application via a macro command, I can only launch it by adding it under "Applications."

I test

[2020-11-23 14:30] SeydX commented on #103
Hello @Fofer

The custom ui offers you all the applications and commands your TV can handle. If there is no application or command to open the timer list, there is no way for me to create one.

[2020-11-23 14:50] Fofer commented on #103
Yes, perhaps my wording wasn't clear.  The application is called "Timers."

This application appears in the Applications list. I can invoke it from there, and it works.  That's how I got to the screenshot in the first post of this report.

![CleanShot 2020-11-23 at 06 48 07](https://user-images.githubusercontent.com/518749/99976177-f756d600-2d57-11eb-96c8-dd2ed34f8ed1.png)

This application does N

[2020-11-25 17:03] fcoura opened #105 "Volume not working"
Hi SeydX, all good? Thx for all the hard work! It's the absolute best plugin I'm using. Just wanna report that since the 4.0 my volume (from the remote control in the Control Center of my iPhone) is not working... Everything else working fine and the homebridge is sending the commands to the TV ([11/25/2020, 13:51:39] [BraviaOSPlatform] Sony 75: Reducing volume by -1). My TV is a Sony XBR75X855D.

[2020-11-25 17:16] SeydX commented on #103
@Fofer

It seems your tv has also ircc commands to open partner. What kind of apps these are idk.

Thats nothing what i have coded. The plugin just lists everything what your tv offers

[2020-11-25 18:11] Fofer commented on #103
Ok I understand.

So is there a way for me to create a macro that first launches the Timers app, and then issues these commands : up + up + enter?

Because right now the only way I can do is is with two separate macros.

[2020-11-26 16:57] MattHardwick34 opened #106 "channels and inputs not appearing"
Appeared as a TV in homekit instantly, on/off works and apple remote works, but no channel/input selection just says On On On along the top of the panel for the TV.

[2020-11-26 17:12] SeydX commented on #106
Just force close the apple home app and reopen should fix it

[2020-11-26 17:14] SeydX commented on #105
Hey @fcoura

Have you tried changing the audio output in config?

You can try audio output "others". Maybe this will work

[2020-11-26 17:35] fcoura commented on #105
yes! perfect.

[2020-11-26 18:54] #105 closed

[2020-11-26 19:28] fcoura opened #107 "Disney Plus"
Are you planning to add support for Disney Plus as well on the app list?

[2020-11-26 20:11] SeydX commented on #107
@fcoura

I can not adjust the app list. If you have installed the Disney+ App it should appear in the app list.

[2020-11-26 20:23] fcoura commented on #107
It's installed, but not showing up on the list... Maybe it's a bug? I can see all the other installed apps in the list... Editing manually the config is not working as well (tried DisneyPlus, Disney, Disney+ and some other variations to see if it was going to work...

[2020-11-26 23:19] SeydX commented on #107
Hmm you installed from play store?

[2020-11-26 23:19] #106 closed

[2020-11-26 23:49] fcoura commented on #107
Yes. The Disney app is in the Featured Apps group, side by side with others apps that are showing up normally... Anything you wanna me to test?

[2020-11-27 01:19] SeydX commented on #107
Hmm.. Yeah can u open the *-inputs.json file pls. Located in your homebridge storage folder

e.g. /var/lib/homebridge/bravia

[2020-11-27 01:57] fcoura commented on #107
{
  "apps": [
    {
      "title": "Play Store",
      "uri": "com.sony.dtv.com.android.vending.com.google.android.finsky.tvmainactivity.TvMainActivity",
      "icon": "http://192.168.86.50/DIAL/icon/com.sony.dtv.com.android.vending.com.google.android.finsky.tvmainactivity.TvMainActivity.png",
      "type": "application"
    },
    {
      "title": "YouTube",
      "uri": "com.sony.dtv.com.google.

[2020-11-27 06:18] SeydX commented on #107
@fcoura

It seems that you forgot to "refresh" the inputs list after installing a new app. Can u refresh the inputs list as fellow pls and try again to add Disney+

![hb_braviatvos_ui_refresh](https://user-images.githubusercontent.com/34152761/100417231-b70d9580-3080-11eb-9258-b3052807c67f.gif)

[2020-11-27 12:58] fcoura commented on #107
Worked well. Thank you. Hope this conversation will help other users as well - I didn't know about the refresh function. What Im experiencing now is that the HDMI1 disappeared from the list...

[2020-11-27 14:00] SeydX commented on #107
@fcoura

Oh, interesting. Just try again to refresh the inputs list

[2020-11-27 14:32] fcoura commented on #107
Yep. Did the refresh a few times... Still was showing up on the list. Then I tried using the refreshInputs: true and got this error: [BraviaOSPlatform] Sony 75: An error occured during fetching tv inputs, skip..
[11/27/2020, 11:28:41] [BraviaOSPlatform] Sony 75: Response error, status code: 500. // Then I rebooted twice the homebridge and at least the error is not happening again - still, the HDMI

[2020-11-27 14:42] SeydX commented on #107
@fcoura

The tv just blocks further requests on error 500.

Hm, can u post your config pls

[2020-11-27 15:07] fcoura commented on #107
Here it is... Happening on both TVs - Testing now on the "Sony 75" the inputs through "Commands", but it's sad that the names of the HDMIs doesn't show up...

-----

        {
            "name": "BraviaOSPlatform",
            "tvs": [
                {
                    "name": "Sony 75",
                    "ip": "x.x.x.x",
                    "mac": "xxx",
                    "psk": "xxx",

[2020-11-27 16:57] SeydX commented on #107
@fcoura

can u try with v4.1.5 pls

[2020-11-27 17:14] SeydX opened #108 "iOS 14 - TV Icons and other common issues"
## I installed the plugin and added a TV. But I cannot see the TV in Apple Home.
- This is because the TV passed to Apple is passed as "external devices". This means that you have to add the TVs separately in Apple Home (just like adding a bridge). Code to add is the same as from the bridge and can be found in the log.

![addnewtv](https://user-images.githubusercontent.com/34152761/100472200-10ef7

[2020-11-27 17:15] #108 closed

[2020-11-27 19:07] fcoura commented on #107
Updatet and tried a number of things. The interesting thing is that the SONY 65 (which is a newer one) it's now showing! But not in the SONY 75... Have a look at the images...

**Sony 65**
<img width="786" alt="Screen Shot 2020-11-27 at 14 54 29" src="https://user-images.githubusercontent.com/54318090/100478616-7f2b4000-30ca-11eb-82ff-aacf7bceb85a.png">

**Sony 75**
<img width="759" alt="Screen Sh

[2020-11-27 19:10] SeydX commented on #107
hmm strange... can u put ``"refreshInputs": true`` to Sony 75 in config.json, restart homebridge and post the whole log here pls

[2020-11-27 20:56] fcoura commented on #107
Sure! the "refreshInputs": true is being changed to false at every restart...

---

[11/27/2020, 17:53:52] Homebridge is running on port 51826.
   hoobs : TTY=pts/0 ; PWD=/var/lib/homebridge ; USER=root ; COMMAND=/bin/journalctl -o cat -n 500 -f -u homebridge -u homebridge-config-ui-x
pam_unix(sudo:session): session opened for user root by (uid=0)
[11/27/2020, 17:53:56] [BraviaOSPlatform] Sony 75:

[2020-11-27 21:28] cerahmed opened #109 "Not able to add TV to Home app"
**History:**

• I have used the previous version of this plugin, been able to add the TV accessory to the Home app.
• The TV accessory was ONLY able to turn off the TV. Could not turn on the TV, change inputs, or do any other operations.
• Deleted the config from Homebridge, and **REMOVED THE ACCESSORY** from the Home app (to be able to add a new accessory later once properly configured).

**Curre

[2020-11-27 21:36] cerahmed commented on #109
It is worth noting that the following shows up in Homebridge log when restarting the service:

`[11/28/2020, 00:32:53] [Upper Room TV] Upper Room TV: Polling tv state
[11/28/2020, 00:32:53] [Upper Room TV] Upper Room TV: Configured!
[11/28/2020, 00:32:53] Upper Room TV 2B17 is running on port 45143.
[11/28/2020, 00:32:53] Please add [Upper Room TV 2B17] manually in Home app. Setup Code: 934-75-735

[2020-11-27 22:07] SeydX commented on #109
This is the normal message suggesting to add the TV separately, tried with another TV name? That you didnt had before

[2020-11-27 22:22] cerahmed commented on #109
Superb! Changing the name of the TV did actually help!

Many thanks; really appreciate it.

[2020-11-27 22:23] #109 closed

[2020-11-27 23:10] SeydX commented on #107
``Sony 75: Response error, status code: 500.``

Hm, it seems that your tv can not handle the requests... Is everything else working with the tv?

[2020-11-28 00:49] fcoura commented on #107
Yes, it’s really weird. Everything working perfectly. Haven’t changed the setup of the TV or anything... it was working with the previous version of the plug-in...

[2020-11-29 16:26] andreinanu opened #110 "Timeout of undefineds exceeded!"
The plugin was working fine until a couple of days ago, when suddenly `Bravia: Timeout of undefineds exceeded!` shows up in the logs. I also see this polling every few seconds:

`[29/11/2020, 17:15:05] [Bravia] Bravia: {"uri":"extInput:hdmi?port=2","source":"extInput:hdmi","title":"HDMI 2"}
[29/11/2020, 17:15:15] [Bravia] Bravia: Polling tv state
[29/11/2020, 17:15:21] [Bravia] Bravia: {"uri":"ext

[2020-11-30 09:37] shannonpasto opened #111 "homebrideg restart issue"
Hi.

Every time I restart homebridge I have to re-add my TV. I can see "Please add [LoungeTV] manually in Home app. Setup Code: 031-45-154" show up each time. Any ideas?

homebridge v1.1.6
homebridge-bravia-tvos v4.1.5

Thanks

[2020-11-30 10:49] SeydX commented on #111
If you already added the tv to HomeKit you dont need to add it again. It will always show up because it is an external accessory and Homebridge will print the info everytime on restart

[2020-11-30 12:05] Fofer commented on #99
Hi, this has been addressed in homebridge-config-ui-x v4.35.0

"Plugins: Custom plugin user interfaces now work correctly in older browsers that do not support the EventTarget constructor."

[2020-11-30 13:42] andreinanu commented on #110
@SeydX I've reinstalled the plugin and the setup process was seamless (amazing job, btw!), I have no errors in HB but seems that I cannot add it to Home app - restarted the PI, TV and phone and still cannot discover it. I've also tried adding the code manually but to no avail. I guess I can try to remove the hub completely from Home and rescan it - if you have any other suggestion, it's very welco

[2020-11-30 13:53] andreinanu commented on #110
@SeydX removing the bridge and re-adding everything fixed it (also had to reset the HB code for it to work, for whatever reason).

[2020-11-30 13:53] #110 closed

[2020-11-30 15:06] lteffertiller opened #112 "experiencing RequestedMethod could not be found errors"
I'm getting these errors in my logs every 10 seconds, and I'm not sure what is being called or referenced.

`[11/30/2020, 10:00:27 AM] [BraviaTVOS] Error: Requested method (%s) could not be found!
    at ServiceProtocol.checkApiMethod (/usr/local/lib/node_modules/homebridge-bravia-tvos/node_modules/@seydx/bravia/src/service-protocol.js:138:13)
    at ServiceProtocol.invoke (/usr/local/lib/node_mod

[2020-11-30 19:50] shannonpasto commented on #111
What happens is when I restart homebridge the TV in Home stops responding, the channel scroll list disappears and they turn into accessories giving me the option to show as separate tiles. These tiles don't work and I get "On" displayed at the top above the power button (which also doesn't work). If I delete and re-add it works again.
![IMG_1124](https://user-images.githubusercontent.com/7528937/1

[2020-11-30 19:52] SeydX commented on #111
@shannonpasto

thats normal for external accessories like tv's. Its not a bug. Force close of the home app is enough after restart to show the input list again

Read here: https://github.com/SeydX/homebridge-bravia-tvos/issues/108

[2020-11-30 19:55] shannonpasto commented on #111
Strange behaviour though as no other accessory does that but restarting Home fixed it. Thanks.

[2020-11-30 19:55] #111 closed

[2020-11-30 21:41] Fofer commented on #103
Hi, just to add more information in the meantime for anyone following along. I've managed to use the iOS shortcuts app to string together the separate commands that this plugin offers to HomeKit.

The first step of my automation sends the "Launch Timers App" command to the Sony TV.  Then it waits a second, and sends the Macro command sequence of "down, DpadCenter, Up, Up, DpadCenter, TV, Sleep Tim

[2020-12-01 11:59] SeydX commented on #107
@fcoura

can u enable ``debug`` pls in config and post the whole log from restart here

[2020-12-01 12:02] SeydX commented on #112
hey @lteffertiller

can u try v4.1.6 pls - this should give more infore about the requested method.

And also enable ``debug`` in config pls

[2020-12-01 15:37] lteffertiller commented on #112
Just updated and enabled debug- now getting this:
`[12/1/2020, 10:35:53 AM] [BraviaTVOS] Error: Requested method (getPlayingContentInfo) could not be found!
    at ServiceProtocol.checkApiMethod (/usr/local/lib/node_modules/homebridge-bravia-tvos/node_modules/@seydx/bravia/src/service-protocol.js:138:13)
    at ServiceProtocol.invoke (/usr/local/lib/node_modules/homebridge-bravia-tvos/node_modules

[2020-12-01 20:34] SeydX commented on #112
@lteffertiller

Could you successfully run the TV with another plugin before?

[2020-12-01 20:53] lteffertiller commented on #112
this is the first time i've tried- i haven't used it on another plugin before

[2020-12-01 21:00] lteffertiller commented on #112
if it helps, when i make remote control presses, it logs 404 errors. not sure if they're correlated.

[2020-12-01 21:02] SeydX commented on #112
@lteffertiller

Is anything else working? It seems that your tv doesn’t support the Sony API. Which model?

[2020-12-01 21:03] lteffertiller commented on #112
it's the Sony X750H. power and input controls work fine, it's just remote controls and the random logs for some reason. the TV is completely up to date as well.

[2020-12-01 21:14] SeydX commented on #112
@lteffertiller

Hmm, strange.. is it always the same error?

``Error: Requested method (getPlayingContentInfo) could not be found! ``

One another thing that would be very helpful is to enable homebridge debug and put ``bravia:*`` as below:

![C46B97A9-B47E-4B95-94C1-D73F206C624D](https://user-images.githubusercontent.com/34152761/100797434-669c8c00-3422-11eb-9f5f-4e8a231bf8b3.gif)

[2020-12-01 21:15] lteffertiller commented on #112
it's the exact same error, yes. i just enabled the debug flag- i'll come back with logs in a few!

[2020-12-01 21:16] SeydX commented on #112
@lteffertiller

Allright. Please post the whole log here from restart. Not only the line with the error

[2020-12-01 21:22] lteffertiller commented on #112
here you go- this is all of it up until it starts repeating logs again:

`[12/1/2020, 4:15:31 PM] [HB Supervisor] OS: Linux 5.4.72+ arm
[12/1/2020, 4:15:31 PM] [HB Supervisor] Node.js v14.15.0 /usr/local/bin/node
[12/1/2020, 4:15:31 PM] [HB Supervisor] Homebridge Path: /usr/local/lib/node_modules/homebridge/bin/homebridge
[12/1/2020, 4:15:31 PM] [HB Supervisor] UI Path: /usr/local/lib/node_modules

[2020-12-01 22:10] SeydX commented on #112
@lteffertiller

Your TV supports the Sony API but can not find the requested method

Can you install the bravia modul pls

``
sudo npm i -g @seydx/bravia@beta
``

and post the output here from the following command

``
bravia methods TVIPHERE --psk TVPSKHERE
``

[2020-12-01 22:42] lteffertiller commented on #112
here ya go!

`[
  [
    {
      "endpoint": "accessControl",
      "version": false,
      "methods": []
    }
  ],
  [
    {
      "endpoint": "appControl",
      "version": "1.0",
      "availableMethods": [
        "getApplicationList",
        "setActiveApp",
        "getMethodTypes",
        "getVersions"
      ],
      "availableParams": {
        "getApplicationList": [],
        "setActive

[2020-12-02 21:35] SeydX commented on #112
Your TV does not seem to fully support the Sony API. The problem is that your TV is not able to tell WHAT the TV is playing. And this is exactly the endpoint the plugin uses to work.

I just wonder why your TV, which is so up-to-date, only partially supports the API.

[2020-12-02 23:09] lteffertiller commented on #112
Very weird indeed! Totally fine by me, but thanks for the help :)

[2020-12-03 00:57] kuriburi opened #113 "tv:isdbt as TV source"
Hello, I live in Japan and the tvsource type for terrestrial broadcast is isdbt. None of the other (dvbt, dvbc, dvbs) types work here.
Would it be possible to add those (isdbt, isdbc, isdbs) to the dropdown in the UI configuration screen? of course I can always edit the config by hand (which I did) and it works just fine. But as there are a few countries using it, I think it might be worth adding?

[2020-12-03 00:59] SeydX commented on #113
@kuriburi

Sure, thx!

[2020-12-03 01:01] kuriburi commented on #113
Wow, you're quick! thanks for the response.

[2020-12-04 17:03] Jacobscat opened #114 "Apple home"
There’s surely something I’m missing here but in the homebridge hub under the accessories tab I  have my little icon to turn off the tv and on but i can’t get it on the Apple home app only via hitting the add accessory option then selecting can’t scan my tv then appears but it asks for the 8 digit code Is this an issue or how it is
Supposed to be? or perhaps just a bad initial setup? Hope someone

[2020-12-04 23:00] lukasmalkmus commented on #114
Interestingly experiencing the same after updating node and some plugins today. I wanted to reconfigure my TV for different reasons. Now I face this issue.

[2020-12-04 23:11] lukasmalkmus commented on #114
Multiple restarts resolved it. Maybe need to give HomeKit some time before accepting the code again.

[2020-12-04 23:26] lukasmalkmus opened #115 "[Feature Request] Renaming inputs"
It is possible to rename inputs of TVs in HomeKit. It would be awesome to preserve these changes across restarts. If that isn't possible, it would be awesome to map Display Names in the config.

[2020-12-04 23:40] Jacobscat commented on #114
That seemed to do it! it’s in my home now Thank you.

[2020-12-04 23:40] #114 closed

[2020-12-05 03:07] kuriburi commented on #113
Hi, it would also be great to set the type of  tvsource in the initial setup, as right now the channel scanning is done with dvbt by default, and I have to add the channels based on what homebridge-bravia outputs. Thanks!

[2020-12-05 22:13] lukasmalkmus opened #116 "[ENHANCEMENT] Map HDMI to corresponding CEC input."
I have an Apple TV and a Playstation 4 attached to my Sony TV via HDMI. By utilizing CEC, the TV can control those devices. In the plugin config UI, there are two separate inputs listed: HDMI and CEC inputs separately. However, "under the hood", they are the same physical device. There is a major difference when configuring them for use in HomeKit: If I configure HDMI inputs, the TV will switch to

[2020-12-06 04:24] SeydX commented on #116
@lukasmalkmus

The polling only shows what the TV thinks it is displaying. The problem with CEC is that the TV only displays it correctly when the connection is established. Otherwise it is only e.g. HDMI 3.

Also during the installation the TV is switched on when configuring or reading the inputs because the CEC devices are not readable when switched off.

The plugin does NOT manipulate the outpu

[2020-12-06 04:30] SeydX commented on #115
@lukasmalkmus

It is possible to change the names atm, but it will revert back after restart because the plugin exposes the tv as a external device. And external devices will not be cached as bridged devices.

Therefore i need to add a own cache function to allow this. I thing i will add this function for the next version

[2020-12-06 07:20] SeydX commented on #115
Added in v4.1.8

[2020-12-06 07:20] #115 closed

[2020-12-06 07:20] SeydX commented on #113
Added in v4.1.8

[2020-12-06 07:20] #113 closed

[2020-12-06 09:53] maisun opened #117 "Inputs are replaced by individual accessories when HB restarts"
Hi,

With the latest version 4.1.8 every time when HomeBridge is restarted, all inputs are gone and replaced by individual accessories named the same as input names. The issue can always be reproduced, and the only solution I found is to remove all cache and re-add the TV. But after a restart the problem comes back again

[2020-12-06 09:55] SeydX commented on #117
@maisun

pls read following issue:

https://github.com/SeydX/homebridge-bravia-tvos/issues/108

Thats not a bug. Thats how apple handles external accessories. Just force close the apple home app after restarting homebridge. This should fix it

[2020-12-06 09:59] #117 closed

[2020-12-06 10:00] maisun commented on #117
Thank you for super fast reply! I can confirm it does the trick and everything works after force restart of Home app.

[2020-12-06 10:04] SeydX commented on #103
Maybe I will revise the macros for the next version so that you can also open apps/channels and even set the "delay" between commands

[2020-12-06 17:23] Fofer commented on #103
Oh wow that would be AMAZING! It would open up all sorts of new possibilities because then macros could easily be used inside apps we launch. Thanks for the consideration and your excellent continued work on this absolute game-changer of a plugin. Happy holidays.

[2020-12-07 12:52] #116 closed

[2020-12-09 02:02] robboz4 commented on #112
I'm having the same issue and my TV is dated October 2020. I just installed it and tried this plugin but get the same errors.

[2020-12-11 23:57] robboz4 opened #118 "TV icon not showing up in IOS app"
I have installed and configured the plugin but I have the issue listed previously with errors in the log and zero entries in the test tool you suggested we use. I also have two icons both labeled with Sony TV. One with a speaker and the other a TV image. I can turn the TV on and off from the config-ux icons, but these icons do not show up in the app on the iPhone.
Any clue as what I may have got w

[2020-12-11 23:59] SeydX commented on #118
@robboz4

Can u post a screenshot pls

[2020-12-12 00:00] SeydX commented on #112
@robboz4

Tried a another bravia plugin with success before?

[2020-12-12 00:16] robboz4 commented on #118
![Screen Shot 2020-12-11 at 4 14 30 PM](https://user-images.githubusercontent.com/3642405/101966310-267c9c80-3bcc-11eb-8886-c2c7fbad6683.png)
 Log file entry

[12/11/2020, 4:15:16 PM] [BraviaTVOS] Error: Requested method (getPlayingContentInfo) could not be found!
    at ServiceProtocol.checkApiMethod (/usr/local/lib/node_modules/homebridge-bravia-tvos/node_modules/@seydx/bravia/src/service-protoc

[2020-12-12 10:12] michel0271 opened #119 "switch back and forth"
Which command do I have to set to switch back and forth between the last 2 channels?

thx
Michel

[2020-12-12 13:21] michel0271 commented on #119
i have found it: JUMP

:-)

[2020-12-12 13:21] #119 closed

[2020-12-12 20:16] SeydX commented on #118
@robboz4

You need to add the tv like a bridge to apple home

See here

https://github.com/SeydX/homebridge-bravia-tvos/issues/108

[2020-12-12 21:01] robboz4 commented on #118
Got it thanks a bunch!

[2020-12-12 21:01] #118 closed

[2020-12-12 23:16] ursusHU commented on #88
Hi, it's me again 👍
Now I have reinstalled my whole homebridge, and installed the latest version of the plugin. Same issue occurs, only power button is visible.

[13/12/2020, 00:09:28] [BraviaTVOS] Initializing BraviaOSPlatform platform...
[13/12/2020, 00:09:28] [BraviaTVOS] Living Room Television: Configuring accessory...
[13/12/2020, 00:09:28] [BraviaTVOS] Living Room Television: Adding tv servi

[2020-12-12 23:18] SeydX commented on #88
@ursusHU

Tried force closing home app and reopen again?

See here

https://github.com/SeydX/homebridge-bravia-tvos/issues/108

[2020-12-13 00:39] ursusHU commented on #88
Yes I tried that, I also tried to reinstall the version which was running smooth 4.0.6 I think, but it didn't work because of the following weird message: The plugin "homebridge-bravia-tvos" requires a Homebridge version of ^1.2.0 which does not satisfy the current Homebridge version of 1.1.6. You may need to update this plugin (or Homebridge) to a newer version. You may face unexpected issues or

[2020-12-13 01:35] SeydX commented on #88
You can ignore the warning. Can u post your config.json please

[2020-12-13 08:32] idominiki opened #120 "Timeout / Slow reaction since Android TV 9 Update"
Hello,

I've just updated my KD55XF8599 to Android TV 9 as Sony published the update.
https://www.sony.de/electronics/support/lcd-tvs-android-xf85xx_x85xxf_xf87xx-series/kd-55xf8599/downloads/00017085

Since that, the TV doesn't react or very very slow to interactions with this plugin. I've set the timeout to 10 seconds but the problems are the same.

E.g. If I want to turn off the TV nothing happ

[2020-12-13 09:44] ursusHU commented on #88
{
            "name": "BraviaTVOS",
            "debug": true,
            "tvs": [
                {
                    "name": "Living Room Television",
                    "ip": "192.168.68.105",
                    "mac": "FC:F1:52:XXXX",
                    "port": 80,
                    "timeout": 30,
                    "psk": "XXXX",
                    "manufacturer": "Sony",

[2020-12-13 21:22] ursusHU commented on #88
Hi,

just figured out what the problem was. Because I was installing the new plugin over the very old one, I didn't realized that the setup needs to be done again. Now I reinstalled the plugin and went through the whole setup process, and it works properly. Thanks again for your work. It's a great plugin.

[2020-12-13 21:22] #88 closed

[2020-12-14 16:57] SeydX commented on #120
@idominiki

hmm, try restarting the TV (powering off/on) and restart homebridge

[2020-12-14 19:40] robboz4 commented on #112
Couldn't get the first plugin I tried to recognize the TV. So uninstalled it and tried this one. Power is working but no apps for stations.

[2020-12-14 19:56] idominiki commented on #120
Nothing changed :-(

[14.12.2020, 19:53:42] [BraviaTVOS] Fernseher: Polling tv state
[14.12.2020, 19:53:51] [BraviaTVOS] Fernseher: Timeout of 10s exceeded!
[14.12.2020, 19:54:01] [BraviaTVOS] Fernseher: Polling tv state
[14.12.2020, 19:54:08] [BraviaTVOS] Fernseher: {"uri":"extInput:hdmi?port=3","source":"extInput:hdmi","title":"HDMI 3/ARC"}
[14.12.2020, 19:54:18] [BraviaTVOS] Fernseher: Polling

[2020-12-15 01:13] SeydX commented on #120
What the problem here? Everything looks fine

[2020-12-16 02:19] SergioBraulioCadenaJuarez opened #121 "Kitchen TV: Can not reach TV"
I have two TVs, one of them it is working well but the other one is not working sometime yes and sometime not. Please the error in the logs.

![image](https://user-images.githubusercontent.com/32884256/102296395-db87bf80-3f12-11eb-999f-b2f094658d20.png)

[2020-12-16 16:59] idominiki commented on #120
Today the log look like this.

[16.12.2020, 16:48:55] [BraviaTVOS] Fernseher: Timeout of 5s exceeded!
[16.12.2020, 16:49:05] [BraviaTVOS] Fernseher: Polling tv state
[16.12.2020, 16:49:56] [BraviaTVOS] Fernseher: ON
[16.12.2020, 16:50:05] [BraviaTVOS] Fernseher: Response error, status code: 503.
[16.12.2020, 16:50:15] [BraviaTVOS] Fernseher: Polling tv state
[16.12.2020, 16:50:15] [BraviaTVOS] Fer

[2020-12-21 14:35] bjarnet3 opened #122 "TV Sound (Lightbulb) when turning on, sometimes it is 100%"
Hello SeydX,,, thanx for the great Sony TV homebridge plugin you have made, I use it everyday.

If I turn the sound off (with 20% volume) and on again "fast", the sound goes back to 20% as expected. But if I turn off all lights (inkl. TV sound lightbulb) and then turn on the TV Sound again sometimes the Volume goes to 100%.

![620834E0-DA69-489A-9A8D-6EB57A66E1AE_1_105_c](https://user-images.githu

[2020-12-22 12:49] ursusHU opened #123 "Older Bravia not able to turn on from deep sleep"
I have similar issue like with the older version of this app a time ago.
https://github.com/SeydX/homebridge-bravia-tvos/issues/88

It is not possible to turn on the TV after 5 minutes. You did solve this, so I hope this is possible also with the current version of your plugin :)

`[22/12/2020, 13:27:59] [BraviaTVOS] Living Room Television: Adding tv service
[22/12/2020, 13:27:59] [BraviaTVOS] Liv

[2020-12-28 02:42] xmasrain opened #124 "Some apps cannot be displayed on “App”"
“云视听极光”app  cannot be displayed on “App” ，even if I input the app into the line。
![tvos](https://user-images.githubusercontent.com/58833842/103185820-030a5f00-48f9-11eb-80bd-03ec8732b0b9.png)

![IMG_0512](https://user-images.githubusercontent.com/58833842/103185846-28976880-48f9-11eb-98f3-50d2be63e4dc.PNG)

[2020-12-29 12:12] SupImDos opened #125 "Custom Remote Commands Not Working"
Thanks very much for your hard work on this plugin!

**_Notes_**:
_Issue 1_:
As you can see below, I would like to add the "Fast Forward" and "Rewind" buttons to my remote, but nothing happens to the remote when I specify this in the config. Am I interpreting something wrong here?

_Issue 1_:
Also, regardless of the input to my TV (e.g. Netflix, Disney+, Youtube), The state of the TV reverts to "O

[2020-12-29 14:45] SeydX commented on #125
@SupImDos

1) Apple doesnt allow to add/remove buttons to the remote screen. The Plugin only allows to map different codes to the already existing buttons.

2) Its not a problem with the plugin. Sony API doesnt offer app states. If you open an app like Netflix etc. the current state will be ‚Illegal State‘. Due to this reason it will jump to ‚Active‘ on next poll

[2020-12-29 14:46] SeydX commented on #124
@xmasrain

interesting. I think the special chars are causing this problem. Will check this. Thanks.

[2020-12-29 14:49] SeydX commented on #122
Hey @bjarnet3

it should go back to the previous volume state after turning on the lightbulb.

I will check this, thx

[2020-12-29 14:50] SeydX commented on #121
@SergioBraulioCadenaJuarez

Thats not a ‚bug‘. Some Sony TVs doesnt allow to access the API while in deep sleep. Therefore the plugin shows a warning because it is not reachable.

[2020-12-29 14:54] SeydX commented on #123
@ursusHU

You need to put following in the config.json

[code]

[2020-12-29 15:28] SergioBraulioCadenaJuarez commented on #121
Sorry, thanks a lot for the support. I'll close this one because it is not a issue 😅

[2020-12-29 15:28] #121 closed

[2020-12-29 15:32] SupImDos commented on #125
@SeydX
Thank you very much for the reply!

I thought as much, thanks very much for confirming.

So I am unable to add the fast forward/rewind buttons, but does this mean I should be able to rebind the "i" Information button on the remote to execute the "Home" command? I wasn't able to get that working when I last tried, when I'm next home I will attempt it again.

Cheers

[2020-12-29 16:02] ursusHU commented on #123
Thank you! Wake on LAN was missing.

[2020-12-29 16:02] #123 closed

[2020-12-31 02:16] simonrb2000 opened #126 "Unable to get any Inputs"
Hi,

I am struggling to get any inputs onto the app. I have all the applications etc..

This is my config:-
 "platform": "BraviaOSPlatform",
            "name": "BraviaTVOS",
            "tvs": [
                {
                    "name": "Sony TV",
                    "ip": "192.168.1.173",
                    "port": 80,
                    "timeout": 5,
                    "appName": "Sony T

[2020-12-31 05:54] #125 closed

[2020-12-31 06:00] SupImDos opened #127 "Remote Config Parsing Issue"
Relevant Code:
https://github.com/SeydX/homebridge-bravia-tvos/blob/258fae2e4797ee09a994f5d82b2031dfa24b6dc8/src/platform.js#L125

Example Relevant Config from ConfigUIX:
[code]

Not sure if I am missing something here.

When I configure a custom remote button using the Config UI, it generates the above config entry.

In the code, it looks like the `cmd.command` attribute is tested against the reg

[2020-12-31 13:55] simonrb2000 commented on #127
This may explain why mine do not work, I’ve been using the Config UI generator.

[2021-01-02 11:42] idominiki commented on #120
The problem still exists. After I reconfigured the TV it works once a time. After a second start from the TV there is the timeout again and the TV powering off and on and off and on ....

[2021-01-06 06:53] SeydX commented on #127
@SupImDos

Thx, will fix this in the next version

[2021-01-06 06:54] SeydX commented on #126
Screenshot from tv accessory? Output from log?

[2021-01-17 04:34] donavanbecker commented on #112
@SeydX I couldn't get your plugin to work with a newer tv that was bought about October 2020. I tried this [plugin](https://github.com/benzman81/homebridge-bravia-simple) and it connected, but it registers the TV as a bridged TV so doesn't have the TV icon.

Figured I would share if you wanted to look into this issue?

[2021-01-17 04:41] SeydX commented on #112
@donavanbecker

Same error as mentioned here?

[2021-01-17 05:12] donavanbecker commented on #112
no I didn't get an error. the plugin turned the tv on and off. but it didn't publish the tv as a external acessory like your plugin does. So it won't work with control center either.

[2021-01-17 05:16] SeydX commented on #112
@donavanbecker

Normally, it is not displayed if you have previously used another plugin with the same tv name.

Tried with another name in config.json?

[2021-01-17 05:56] donavanbecker commented on #112
why? I just wanted to let you know that that plugin is working with this kind of TV, and I know yours isn't so I figured I would point you to that plugin so you could see the difference.

only problem with that plugin is not registering as external accessory but thats okay.

[2021-01-18 00:31] tanjello opened #128 "Unable to add tv via accessory"
I had to remove the tv from homekit and when I went to add it back in the Home app, it does not find it from "add accessory" anymore.

I've tried:
-Reboot TV
-Factory reset tv
-Reboot homebridge + box
-Uninstall plugin and reinstall
-Completely delete home and rebuild

HELP!
Thanks

[2021-01-20 07:36] sch115 commented on #120
Ive had the same problem, went back to PSK Authentication instead of PIN, restarted TV and Homebridge and everything works as before.

[2021-01-20 08:17] idominiki commented on #120
Thanks @sch115 ! This worked for me, too.

[2021-01-20 11:12] Hexin-Lin-1024 opened #129 "Unable to pull app name"
Hi
The plugin worked well but it could not show the right name of the app.
Here's Log:
[20/01/2021, 18:59:28] Homebridge is running on port 51826.
[20/01/2021, 18:59:29] [BraviaTVOS] KD-65X9500H: Adding tv service
[20/01/2021, 18:59:29] [BraviaTVOS] KD-65X9500H: Adding speaker service
[20/01/2021, 18:59:29] [BraviaTVOS] KD-65X9500H: Adding new input: HDMI 1
[20/01/2021, 18:59:29] [BraviaTVOS] KD-6

[2021-01-20 20:09] SeydX commented on #129
@Hexin-Lin-1024

can you give me a better example of the issue?

What does it show instead?

[2021-01-20 20:10] SeydX commented on #128
@tanjello

just change the name and re add again

[2021-01-20 23:05] tanjello commented on #128
Yup that fixed it. Cant believe I didnt think about that.

Thanks

[2021-01-20 23:05] #128 closed

[2021-01-21 02:46] calvinngkk commented on #112
Same with my bravia TV, connect using PSK as PIN dont work, teied others but others uses PIN unfortunately no PIN appear on TV

my tv model : Sony Bravia 55x750H / x7500H
Year 2020 model Android Pie

[21/01/2021, 10:34:05 am] [Bravia TV] Bravia TV: Polling tv state
[21/01/2021, 10:34:05 am] [Bravia TV] Error: Requested method (getPlayingContentInfo) could not be found!
    at ServiceProtocol.check

[2021-01-21 11:22] Hexin-Lin-1024 commented on #129
When I switch the app
![pic (2)](https://user-images.githubusercontent.com/63279857/105344271-acedba80-5c1d-11eb-9293-c63cc6baad00.jpg)
it works
but a few seconds later
![pic](https://user-images.githubusercontent.com/63279857/105344384-d0186a00-5c1d-11eb-8cf1-940a073d5154.jpg)
it shows "NewTV极光" again in apple home (but actually not)

[2021-01-23 04:10] Hexin-Lin-1024 commented on #129
I found some error logs
[23/01/2021, 12:08:24] [Homebridge UI] [homebridge-bravia-tvos] events.js:292
      throw er; // Unhandled 'error' event
      ^
Error: write EPIPE
    at process.target._send (internal/child_process.js:832:20)
    at process.target.send (internal/child_process.js:703:19)
    at UiServer.ready (/usr/local/node/lib/node_modules/homebridge-bravia-tvos/node_modules/@homebridge

[2021-02-01 23:12] Soldiiier opened #130 "Delayed responses, errors in the logs and non-functioning remote"
After a few good days of using the plugin without issue, I am now seeing many errors in the HB terminal view.

Changing volume via remote is no longer operable, turning off the tv I can witness a huge delay in the physical switch off.
I am not having any of these delay issues with the other Sony plugin.

I have removed the plugin, and external device, and re-added, however the experience is the sa

[2021-02-01 23:17] Soldiiier commented on #130
![IMG_0274](https://user-images.githubusercontent.com/16224280/106529845-4df24480-653f-11eb-88df-5f03f824a737.jpeg)

[2021-02-02 20:26] Soldiiier commented on #130
changing/keeping the original default timeout of 5 seconds hasn't change anything.

[2021-02-05 14:12] idominiki commented on #130
Have the same problem, also mentioned in issue #120

Change from PSK to PIN doesn't help

[2021-02-05 14:12] idominiki commented on #120
Hey together,

same problem after a few days again. The TV doesn't react. TV goes off, and on....

[2021-02-05 20:39] Soldiiier commented on #120
Plus 1 having this issue

[2021-02-06 23:05] Captainkyle420 opened #131 "HomeKit not showing"
Doesn’t show up in HomeKit app ios14. But shows up and functions in homebidge GUI
![98EC274F-4A2B-4430-93FF-65BFB76FDDEB](https://user-images.githubusercontent.com/15304010/107131592-0e0bc400-6895-11eb-9780-9357a52c5cc7.jpeg)
![2969956E-B752-4DCD-94DB-EB0C092E108A](https://user-images.githubusercontent.com/15304010/107131595-119f4b00-6895-11eb-98eb-c8ec3b280314.jpeg)

[2021-02-11 10:03] ondraradon commented on #131
Hi, I have the same problem

[2021-02-19 17:12] ohadme commented on #131
Hi
I have the same problem,
any solution?

[2021-02-20 01:21] SeydX commented on #131
Hey all,

u need to add it as a separate accessory, see here

https://github.com/SeydX/homebridge-bravia-tvos/issues/108

If the problem persists, try changing the tv name in your config and try again

[2021-02-20 08:06] skir0cket opened #132 "slow to respond errors"
I keep getting this error and also timeout errors when operating the plugin to switch the inputs or turn off

"This plugin slows down Homebridge. The write handler for the characteristic 'Active' on the accessory 'Tv C344' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info."

[2021-02-20 16:04] ohadme commented on #131
WOW
works amazing :) Thank you

[2021-02-21 04:51] #131 closed

[2021-02-24 17:48] idominiki commented on #120
It seems that the new homebridge update fixes this issue.

I'll send a follow up in a few days.